{% extends "home/base_home.html" %}

{% load staticfiles %}

{% block title %} {{home.title}} {% endblock %}

{% block description %} {{home.description}} {% endblock description %}

{% block content %}
  {% include "include/header.html" %}

  <!-- inicio de buscador -->
      <div class="grid-container">
        <form action="buscador_submit" method="get" accept-charset="utf-8">    
      
          <div class="buscador-search">
            <input type="text" class="buscador-search__input" placeholder=" ingrese nombre, distrito o zona">
            <button type="submit" class="buscador-search__btn"> <i class="fa fa-search "aria-hidden="true"></i> </button>
          </div>
        </form>

        <!-- inicio de bloque filtros -->
        <div class="buscador-filter">
          <a href="#" class="buscador-filter__item">            
            <p class="buscador-filter__item__namef1">Todos</p>
          </a>
          <a href="#" class="buscador-filter__item">            
            <p class="buscador-filter__item__namef2">Con Techo</p>
          </a>
          <a href="#" class="buscador-filter__item">            
            <p class="buscador-filter__item__namef3">Sin Techo</p>
          </a>
          
        </div>
        <!-- fin de bloque filtros -->

        <!-- inicio de bloque resultados -->
        <div class="grid-x grid-margin-x cardcancha">
          <!-- inicio de card canchas -->
          <div class="cell small-12 medium-6 large-4 card-cancha">
            <div class="card-cancha__card">

              <img src="{% static 'img/1.jpg' %}" alt="" class="card-cancha__card__img">
              <p class="card-cancha__card__caracteristica-ct"> con techo </p>
            </div>

            <div class="card-cancha__copy"> 
              <h3 class="card-cancha__copy__title"> Nombre de la cancha Nombre de la cancha cancha Nombre de la cancha cancha Nombre de la cancha</h3>
              <div class="card-cancha__copy__info">
                <i class="fa fa-sun-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 90.00</p>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-moon-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 100.00</p>
              </div>
              <div class="card-cancha__copy__more">
                 <a href="#" class=" button radius card-cancha__copy__more__btn ">Ver más</a>
                 <div class="card-cancha__copy__info">
                  <i class="fa fa-map-marker card-cancha__copy__info__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__info__name"> Av. Tijuana 821</p>
                 </div>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-phone card-cancha__copy__info__icon" aria-hidden="true "></i>
                <p class="card-cancha__copy__info__name"> 986754324</p>
              </div>

              <div class="card-cancha__copy__services">
                
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-html5 card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> sudaderas</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-users card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> 5 vs 5</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-car card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> parking</p>
                </div>
                
              </div>
            </div>         
          </div>
          <!-- fin de card canchas -->
          <!-- inicio de card canchas -->
          <div class="cell small-12 medium-6 large-4 card-cancha">
            <div class="card-cancha__card">

              <img src="{% static 'img/2.jpg' %}" alt="" class="card-cancha__card__img">
              <p class="card-cancha__card__caracteristica-st"> sin techo </p>
            </div>

            <div class="card-cancha__copy"> 
              <h3 class="card-cancha__copy__title"> Nombre de la cancha Nombre de la cancha </h3>
              <div class="card-cancha__copy__info">
                <i class="fa fa-sun-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 90.00</p>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-moon-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 100.00</p>
              </div>
              <div class="card-cancha__copy__more">
                 <a href="#" class=" button radius card-cancha__copy__more__btn ">Ver más</a>
                 <div class="card-cancha__copy__info">
                  <i class="fa fa-map-marker card-cancha__copy__info__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__info__name"> Av. Tijuana 821</p>
                 </div>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-phone card-cancha__copy__info__icon" aria-hidden="true "></i>
                <p class="card-cancha__copy__info__name"> 986754324</p>
              </div>

              <div class="card-cancha__copy__services">
                
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-html5 card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> sudaderas</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-users card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> 5 vs 5</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-car card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> parking</p>
                </div>
                
              </div>
            </div>         
          </div>
          <!-- fin de card canchas -->
          <!-- inicio de card canchas -->
          <div class="cell small-12 medium-6 large-4 card-cancha">
            <div class="card-cancha__card">

              <img src="/img/3.jpg" alt="" class="card-cancha__card__img">
              <p class="card-cancha__card__caracteristica-ct"> con techo </p>
            </div>

            <div class="card-cancha__copy"> 
              <h3 class="card-cancha__copy__title"> Nombre de la cancha Nombre de la cancha</h3>
              <div class="card-cancha__copy__info">
                <i class="fa fa-sun-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 90.00</p>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-moon-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 100.00</p>
              </div>
              <div class="card-cancha__copy__more">
                 <a href="#" class=" button radius card-cancha__copy__more__btn ">Ver más</a>
                 <div class="card-cancha__copy__info">
                  <i class="fa fa-map-marker card-cancha__copy__info__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__info__name"> Av. Tijuana 821</p>
                 </div>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-phone card-cancha__copy__info__icon" aria-hidden="true "></i>
                <p class="card-cancha__copy__info__name"> 986754324</p>
              </div>

              <div class="card-cancha__copy__services">
                
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-html5 card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> sudaderas</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-users card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> 5 vs 5</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-car card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> parking</p>
                </div>
                
              </div>
            </div>         
          </div>
          <!-- fin de card canchas -->
          <!-- inicio de card canchas -->
          <div class="cell small-12 medium-6 large-4 card-cancha">
            <div class="card-cancha__card">

              <img src="/img/4.jpg" alt="" class="card-cancha__card__img">
              <p class="card-cancha__card__caracteristica-ct"> con techo </p>
            </div>

            <div class="card-cancha__copy"> 
              <h3 class="card-cancha__copy__title"> Nombre de la cancha Nombre de la cancha </h3>
              <div class="card-cancha__copy__info">
                <i class="fa fa-sun-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 90.00</p>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-moon-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 100.00</p>
              </div>
              <div class="card-cancha__copy__more">
                 <a href="#" class=" button radius card-cancha__copy__more__btn ">Ver más</a>
                 <div class="card-cancha__copy__info">
                  <i class="fa fa-map-marker card-cancha__copy__info__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__info__name"> Av. Tijuana 821</p>
                 </div>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-phone card-cancha__copy__info__icon" aria-hidden="true "></i>
                <p class="card-cancha__copy__info__name"> 986754324</p>
              </div>

              <div class="card-cancha__copy__services">
                
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-html5 card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> sudaderas</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-users card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> 5 vs 5</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-car card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> parking</p>
                </div>
                
              </div>
            </div>         
          </div>
          <!-- fin de card canchas -->
          <!-- inicio de card canchas -->
          <div class="cell small-12 medium-6 large-4 card-cancha">
            <div class="card-cancha__card">

              <img src="/img/1.jpg" alt="" class="card-cancha__card__img">
              <p class="card-cancha__card__caracteristica-ct"> con techo </p>
            </div>

            <div class="card-cancha__copy"> 
              <h3 class="card-cancha__copy__title"> Nombre de la cancha Nombre de la cancha</h3>
              <div class="card-cancha__copy__info">
                <i class="fa fa-sun-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 90.00</p>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-moon-o card-cancha__copy__info__icon" aria-hidden="true"></i>
                <p class="card-cancha__copy__info__name"> S/ 100.00</p>
              </div>
              <div class="card-cancha__copy__more">
                 <a href="#" class=" button radius card-cancha__copy__more__btn ">Ver más</a>
                 <div class="card-cancha__copy__info">
                  <i class="fa fa-map-marker card-cancha__copy__info__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__info__name"> Av. Tijuana 821</p>
                 </div>
              </div> 
              <div class="card-cancha__copy__info">
                <i class="fa fa-phone card-cancha__copy__info__icon" aria-hidden="true "></i>
                <p class="card-cancha__copy__info__name"> 986754324</p>
              </div>

              <div class="card-cancha__copy__services">
                
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-html5 card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> sudaderas</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-users card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> 5 vs 5</p>
                </div>
                <div class="card-cancha__copy__services__ser">
                  <i class="fa fa-car card-cancha__copy__services__ser__icon" aria-hidden="true"></i>
                  <p class="card-cancha__copy__services__ser__name"> parking</p>
                </div>
                
              </div>
            </div>         
          </div>
          <!-- fin de card canchas -->         

        </div>
        <!-- fin de bloque resultados -->
      </div>
      <!-- fin de buscador -->

  {% include "include/footer.html" %}

{% endblock content %}
