<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Index</title>
      <link rel="stylesheet" href="/css/styles.css">
      <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      </head>

    <body>
      
      <header>

        <!-- inicio del header para pc -->
        <div class="main-header">
          <div class="main-header__head">
            <a href="#" class="main-header__head__logo">aPelotear <i class="fa fa-futbol-o main-header__head__logo__icon" aria-hidden="true"> </i></a>            
            <form action="buscador_submit" method="get" accept-charset="utf-8">       
              <div class="main-header__head__search">
                <button type="submit" class="main-header__head__search__btn"> <i class="fa fa-search "aria-hidden="true"></i> </button>
                <input type="text" class="main-header__head__search__input" placeholder="Busca tu cancha en aPelotear">          
              </div>
            </form>
          </div>
          <div class="controls">
            <a href="#" class="controls__control">Inicio</a>
            <a href="#" class="controls__control">Zona </a>
            <a href="#" class="controls__control">Registrate!</a>  
            <a href="#" class="controls__control">Museo</a>  
          </div>                  
        </div>           
        <!-- fin del header para pc -->

        <!-- espacio para el header -->
        <div class="space-header">          
        </div>
        <!-- fin de espacio para el header -->
      </header>
      <!-- titulo del evento -->
      <!-- <div class="grid-container">
        <div class=" grid-x grid-margin-x evento">
          <h3 class="cell small-8 evento__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, optio at excepturi laboriosam repellendus illo.</h3>
          <p class="cell small-10 evento__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum necessitatibus ea ducimus dolorem. Veniam soluta esse necessitatibus sequi illum possimus distinctio voluptates debitis, commodi nesciunt tenetur voluptatem, qui consectetur laborum. Placeat natus ad saepe, eligendi voluptate eos? Nemo eum tenetur asperiores tempora possimus maiores vero quae ducimus a quibusdam delectus molestias sapiente obcaecati, expedita et corrupti mollitia, pariatur, ab rem dolorem odio temporibus! Repellendus ad, mollitia sit perspiciatis fuga temporibus ratione nemo quam repudiandae nesciunt odit consectetur necessitatibus id, adipisci, voluptas, itaque reprehenderit vel? Sed mollitia excepturi voluptatum pariatur aliquid ab impedit, repellat ipsum, temporibus ducimus labore nostrum vero.</p>
        </div>
      </div> -->
      <!-- fin del titulo del evento -->

      <div class="grid-container">
        <div class=" grid-x grid-margin-x museo">
          
          <!-- inicio de fotos evento -->        
          <div class="cell small-8 museo__album">
            <div class="evento">
              <h3 class="evento__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, optio at excepturi laboriosam repellendus illo.</h3>
              <p class="cell small-10 evento__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rerum necessitatibus ea ducimus dolorem. Veniam soluta esse necessitatibus sequi illum possimus distinctio voluptates debitis, commodi nesciunt tenetur voluptatem, qui consectetur laborum. Placeat natus ad saepe, eligendi voluptate eos? Nemo eum tenetur asperiores tempora possimus maiores vero quae ducimus a quibusdam delectus molestias sapiente obcaecati, expedita et corrupti mollitia, pariatur, ab rem dolorem odio temporibus! Repellendus ad, mollitia sit perspiciatis fuga temporibus ratione nemo quam repudiandae nesciunt odit consectetur necessitatibus id, adipisci, voluptas, itaque reprehenderit vel? Sed mollitia excepturi voluptatum pariatur aliquid ab impedit, repellat ipsum, temporibus ducimus labore nostrum vero.</p>
            </div>
            <div class="grid-container">
              <div class="grid-x grid-margin-x ">
                
                <!-- inicio de foto -->
                <div class="cell small-6">
                  <div class="museo__album__foto">
                    <img src="../img/evento.jpg" alt="" class="museo__album__foto__img">
                    <div class="museo__album__foto__description">
                      <div class="museo__album__foto__description__space"></div>
                      <p class="museo__album__foto__description__info">Lorem ipsum dolor sit amet, consectetur a</p>
                    </div>
                  </div>
                </div>
                <!-- fin de foto -->
                <!-- inicio de foto -->
                <div class="cell small-6">
                  <div class="museo__album__foto">
                    <img src="../img/evento.jpg" alt="" class="museo__album__foto__img">
                    <div class="museo__album__foto__description">
                      <div class="museo__album__foto__description__space"></div>
                      <p class="museo__album__foto__description__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni et beatae est dicta iste recusandae!</p>
                    </div>
                  </div>
                </div>
                <!-- fin de foto -->
                <!-- inicio de foto -->
                <div class="cell small-6">
                  <div class="museo__album__foto">
                    <img src="../img/evento.jpg" alt="" class="museo__album__foto__img">
                    <div class="museo__album__foto__description">
                      <div class="museo__album__foto__description__space"> </div>
                      <p class="museo__album__foto__description__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni et beatae est</p>
                    </div>
                  </div>
                </div>
                <!-- fin de foto -->
                <!-- inicio de foto -->
                <div class="cell small-6">
                  <div class="museo__album__foto">
                    <img src="../img/evento.jpg" alt="" class="museo__album__foto__img">
                    <div class="museo__album__foto__description">
                      <div class="museo__album__foto__description__space"> </div>
                      <p class="museo__album__foto__description__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </div>
                  </div>
                </div>
                <!-- fin de foto -->
              </div>
            </div>          
          </div>
          <!-- fin de fotos-evento -->
          
          <!-- inicio de seccion  informacion de NOSOTROS, PROXIMOS EVENTOS -->
          <div class=" cell small-4 museo__information">
            <p class="museo__information__title"> Visite nuestras Redes Sociales: </p>
            <div class="fb-page museo__information__fb" data-href="https://www.facebook.com/apelotear/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" height="800px" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/apelotear/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/apelotear/">Apelotear</a></blockquote></div>
          </div>
          <!-- fin de seccion  informacion de NOSOTROS, PROXIMOS EVENTOS -->
        </div>        
      </div>


     
      <!-- inicio de pie de pagina-->
      <div class="footer-pc">
        <div class="footer-pc__suscription">
          <p class="footer-pc__suscription__title">¿Quieres saber las ultimas novedades? SUSCRÍBETE!!</p>
          <div class="footer-pc__suscription__form">        
            <input type="text" class="footer-pc__suscription__form__input" placeholder=" E-mail">
            <button type="submit" class="footer-pc__suscription__form__btn">Suscribir</button>
          </div>
        </div>
        <div class="footer-pc__contactenos">
          <p class="footer-pc__contactenos__email"> e-Mail: apelotar.peru@gmail.com</p>
          <p class="footer-pc__contactenos__telf"> Teléfonos: 9845362718-984536271</p>
        </div>                
      </div>
      <div class="footer-pc__redes">
          <a href="#" class="footer-pc__redes__rs1"> <i class="fa fa-facebook-official footer-pc__redes__rs1__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs2"> <i class="fa fa-google-plus-official footer-pc__redes__rs2__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs3"> <i class="fa fa-pinterest footer-pc__redes__rs3__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs4"> <i class="fa fa-youtube footer-pc__redes__rs4__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs5"> <i class="fa fa-instagram footer-pc__redes__rs5__icon" aria-hidden="true"></i></a>
        </div>
      <!--fin de pie de pagina -->

      <!-- espacio para el segmento de controles en movil -->
      <div class="space-footer"></div> 
      
    </body>
  

</html>
