<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>categorias</title>
      <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
      
      <header>
        <div class="mov-main-header">
          <a href="#" class="mov-main-header__logo">apelotear <i class="fa fa-futbol-o mov-main-header__logo__icon" aria-hidden="true"></i></a>

          <a href="#" class="mov-main-header__search">
            <i class="fa fa-search " aria-hidden="true"></i>
          </a>

        </div>
        <div class="mov-controls">
          <a href="#" class="mov-controls__control"> <i class="fa fa-home mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-th-large mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mow-controls__control"> <i class="fa fa-plus mov-controls__control__icon" aria-hidden="true"></i> </a>
        </div>
        <div class="space-header">
          
        </div>
      </header>

      <!-- inicio de categorias -->
      <div class="grid-container">
        <div class="categories">
          <h1 class="categories__title">
            canchas x zonas o distritos
            canchas x zonas o distritos
          </h1>
          <form action="buscador_submit" method="get" accept-charset="utf-8">      
            <div class="buscador-search">
              <input type="text" class="buscador-search__input" placeholder=" ingrese nombre, distrito o zona">
              <button type="submit" class="buscador-search__btn"> <i class="fa fa-search "aria-hidden="true"></i> </button>
            </div>
          </form>
          <!-- inicio de resultados -->
          <div class="grid-x grid-margin-x categories__results">
            <div class="cell small-3 categories__results__item">
              <a href="#" class="categories__results__item__a">
                <img src="../img/1.jpg" alt="" class="categories__results__item__a__img">
                <p class="categories__results__item__a__name">San Jeronimo</p>
              </a>              
            </div>
            <div class="cell small-3 categories__results__item">
              <a href="#" class="categories__results__item__a">
                <img src="../img/1.jpg" alt="" class="categories__results__item__a__img">
                <p class="categories__results__item__a__name">San Sebastian</p>
              </a>              
            </div>
            <div class="cell small-3 categories__results__item">
              <a href="#" class="categories__results__item__a">
                <img src="../img/1.jpg" alt="" class="categories__results__item__a__img">
                <p class="categories__results__item__a__name">Velasco Astete</p>
              </a>              
            </div>
            <div class="cell small-3 categories__results__item">
              <a href="#" class="categories__results__item__a">
                <img src="../img/1.jpg" alt="" class="categories__results__item__a__img">
                <p class="categories__results__item__a__name">saylla</p>
              </a>              
            </div>
            <div class="cell small-3 categories__results__item">
              <a href="#" class="categories__results__item__a">
                <img src="../img/1.jpg" alt="" class="categories__results__item__a__img">
                <p class="categories__results__item__a__name">Wanchaq</p>
              </a>              
            </div>
            <div class="cell small-3 categories__results__item">
              <a href="#" class="categories__results__item__a">
                <img src="../img/1.jpg" alt="" class="categories__results__item__a__img">
                <p class="categories__results__item__a__name">los nogales</p>
              </a>              
            </div>
          </div>
          <!-- fin de resultados -->
        </div>
      </div>
      <!-- fin de categorias -->
  
    </body>
  

</html>
