<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>categorias</title>
      <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
      
      <header>
        <!-- inicio del header para pc -->
        <div class="main-header">
          <div class="main-header__head">
            <a href="#" class="main-header__head__logo">aPelotear <i class="fa fa-futbol-o main-header__head__logo__icon" aria-hidden="true"> </i></a>            
            <form action="buscador_submit" method="get" accept-charset="utf-8">       
              <div class="main-header__head__search">
                <button type="submit" class="main-header__head__search__btn"> <i class="fa fa-search "aria-hidden="true"></i> </button>
                <input type="text" class="main-header__head__search__input" placeholder="Busca tu cancha en aPelotear">          
              </div>
            </form>
          </div>
          <div class="controls">
            <a href="#" class="controls__control">Inicio</a>
            <a href="#" class="controls__control">Zona </a>
            <a href="#" class="controls__control">Registrate!</a>  
            <a href="#" class="controls__control">Museo</a>  
          </div>                  
        </div>
        <div class="space-header-pc">          
        </div>        
          
        <!-- fin del header para pc -->        
        <div class="mov-controls">
          <a href="#" class="mov-controls__control"> <i class="fa fa-futbol-o mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-th-large mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-pencil mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-user mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__nuevas-canchas"> 5 </a>
        </div>
        
      </header>

      <!-- inicio de categorias --> 
      <div class="grid-container ">
          <h1 class="categories-title">
            Canchas por zonas o distritos
          </h1>
          <form action="buscador_submit" method="get" accept-charset="utf-8">      
            <div class="buscador-search categories-search">
              <input type="text" class="buscador-search__input" placeholder=" ingrese nombre, distrito o zona">
              <button type="submit" class="buscador-search__btn"> <i class="fa fa-search "aria-hidden="true"></i> </button>
            </div>
          </form>
          <hr/>
        
          <!-- inicio de resultados -->
          <div class="grid-x grid-margin-x categories-results">
            <div class="cell small-4 medium-3 large-3 categories-results__item">
              <a href="#" class="categories-results__item__a">
                <div class="canchas-zona">
                  <img src="../img/1.jpg" alt="" class="categories-results__item__a__img">
                  <span class="banner__copy__info__number count-canchas">10</span>
                </div>
                <p class="categories-results__item__a__name">San Jeronimo</p>
              </a>              
            </div>
            <div class="cell small-4 medium-3 large-3 categories-results__item">
              <a href="#" class="categories-results__item__a">
                <div class="canchas-zona">
                  <img src="../img/1.jpg" alt="" class="categories-results__item__a__img">
                  <span class="banner__copy__info__number count-canchas">10</span>
                </div>
                <p class="categories-results__item__a__name">los madrigales serranos de urcos</p>
              </a>              
            </div>
            <div class="cell small-4 medium-3 large-3 categories-results__item">
              <a href="#" class="categories-results__item__a">
                <div class="canchas-zona">
                  <img src="../img/1.jpg" alt="" class="categories-results__item__a__img">
                  <span class="banner__copy__info__number count-canchas">10</span>
                </div>
                <p class="categories-results__item__a__name">San Jeronimo</p>
              </a>              
            </div>
            <div class="cell small-4 medium-3 large-3 categories-results__item">
              <a href="#" class="categories-results__item__a">
                <div class="canchas-zona">
                  <img src="../img/1.jpg" alt="" class="categories-results__item__a__img">
                  <span class="banner__copy__info__number count-canchas">10</span>
                </div>
                <p class="categories-results__item__a__name">San Jeronimo</p>
              </a>              
            </div>
            
          </div>
          <!-- fin de resultados -->
        </div>    
      <!-- fin de categorias -->
      
      <!-- inicio de pie de pagina-->
      <div class="footer-pc">
        <div class="footer-pc__suscription">
          <p class="footer-pc__suscription__title">¿Quieres saber las ultimas novedades? SUSCRÍBETE!!</p>
          <div class="footer-pc__suscription__form">        
            <input type="text" class="footer-pc__suscription__form__input" placeholder=" E-mail">
            <button type="submit" class="footer-pc__suscription__form__btn">Suscribir</button>
          </div>
        </div>
        <div class="footer-pc__contactenos">
          <p class="footer-pc__contactenos__email"> e-Mail: apelotar.peru@gmail.com</p>
          <p class="footer-pc__contactenos__telf"> Teléfonos: 9845362718-984536271</p>
        </div>                
        </div>
        <div class="footer-pc__redes">
          <a href="#" class="footer-pc__redes__rs1"> <i class="fa fa-facebook-official footer-pc__redes__rs1__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs2"> <i class="fa fa-google-plus-official footer-pc__redes__rs2__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs3"> <i class="fa fa-pinterest footer-pc__redes__rs3__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs4"> <i class="fa fa-youtube footer-pc__redes__rs4__icon" aria-hidden="true"></i></a>
          <a href="#" class="footer-pc__redes__rs5"> <i class="fa fa-instagram footer-pc__redes__rs5__icon" aria-hidden="true"></i></a>
        </div> 
      <!--fin de pie de pagina -->

      <!-- espacio para el segmento de controles en movil -->
      <div class="space-footer"></div>
    </body>
  

</html>
