<!DOCTYPE html>
<html>
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>detalle cancha</title>
	    <link rel="stylesheet" href="/css/styles.css">
  	</head>

  	<body>
      
      <header>
        <div class="mov-main-header">
          <a href="#" class="mov-main-header__logo">apelotear <i class="fa fa-futbol-o mov-main-header__logo__icon" aria-hidden="true"></i></a>

          <a href="#" class="mov-main-header__search">
            <i class="fa fa-search " aria-hidden="true"></i>
          </a>

        </div>
        <div class="mov-controls">
          <a href="#" class="mov-controls__control"> <i class="fa fa-home mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-th-large mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mow-controls__control"> <i class="fa fa-plus mov-controls__control__icon" aria-hidden="true"></i> </a>
        </div>
        <div class="space-header">
          
        </div>
      </header>

      <!-- inicio del baner principal -->
  		<div class="cancha-info">
  			<h1 class="cancha-info__name"> "La Canchita" </h1>
  			<h2 class="cancha-info__direccion"> Av. Manco Capac B-11 </h2>
  			<p class="cancha-info__telefono"> Telf: 984534281 </p>
  			<p class="cancha-info__precio"> Precio: S/ 70 </p>

  		</div>
      <!-- fin del baner principal -->
      <div class="cancha-puntuacion">

        <i class="fa fa-futbol-o  cancha-puntuacion__icon cancha-ṕuntuacion__icon__1" aria-hidden="true"></i>

        <i class="fa fa-futbol-o cancha-puntuacion__icon cancha-ṕuntuacion__icon__1" aria-hidden="true"></i>

        <i class="fa fa-futbol-o cancha-puntuacion__icon cancha-ṕuntuacion__icon__1" aria-hidden="true"></i>

        <i class="fa fa-futbol-o cancha-puntuacion__icon cancha-ṕuntuacion__icon__2" aria-hidden="true"></i>

        <i class="fa fa-futbol-o cancha-puntuacion__icon cancha-ṕuntuacion__icon__2" aria-hidden="true"></i>

      </div>	

  		<div class="cancha-services">

        <p class="cancha-services__title"> SERVICIOS: </p>
        <div class="cancha-services__items">
         
          <div class="cancha-services__item">
            <i class="fa fa-search fa-3x  cancha-services__icon__primero" aria-hidden="true"></i>
            <p class="cancha-services__item__name"> sudaderas</p>
          </div>

          <div class="cancha-services__item">
            <i class="fa fa-search fa-3x  cancha-services__icon__segundo" aria-hidden="true"></i>
            <p class="cancha-services__item__name"> sudaderas</p>
          </div>

          <div class="cancha-services__item">
            <i class="fa fa-search fa-3x  cancha-services__icon__tercero" aria-hidden="true"></i>
            <p class="cancha-services__item__name"> sudaderas</p>
          </div>

          <div class="cancha-services__item">
            <i class="fa fa-search fa-3x  cancha-services__icon__cuarto" aria-hidden="true"></i>
            <p class="cancha-services__item__name"> sudaderas</p>
          </div>

        </div>

  		</div>

  		<div class="cancha-mapa">
  			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.0762249988175!2d-71.78848258925963!3d-13.592155076817981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916e7d3e430db82d%3A0xf7bdcbaf51ccbc18!2sParque+Arqueol%C3%B3gico+Tip%C3%B3n!5e0!3m2!1ses!2spe!4v1511213505239" class="cancha-mapa__map"></iframe>
  		</div>

  		<div class="cancha-reservation">
  			<p class="cancha-reservation__tabla"> aqui va una tabla de reservacion</p>
  		</div>

      <div class="cancha-description">
        <p class="cancha-description__title"> Descripcion: </p>
        <p class="cancha-description__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eaque dolorem aliquid quidem similique possimus recusandae consequuntur ipsum doloremque corporis.</p>
      </div>
  	</body>
	

</html>
