<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <header>
    <div class="mov-main-header">
      <a href="#" class="mov-main-header__logo">Pichangueros</a>

      <a href="#" class="mov-main-header__search">
        <i class="fa fa-search " aria-hidden="true"></i>
      </a>

    </div>
  </header>

  <div class="mov-controls">
    <a href="#" class="mov-controls__home"> <i class="fa fa-home" aria-hidden="true"></i> </a>
    <a href="#" class="mov-controls__distrit"> <i class="fa fa-th-large" aria-hidden="true"></i> </a>
    <a href="#" class="mow-controls__add"> <i class="fa fa-plus" aria-hidden="true"></i> </a>

  </div>

</html>
