<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>header pc</title>
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <div class="grid-container">
        <div class="grid-x">
          <h1 class="cell">Tipos de Titulos:</h1>
          <hr>
          <h1 class="cell primary-title">Este es un titulo primario de la pagina tipo 1</h1>
          <h1 class="cell primary-title2">Este es un titulo primario de la pagina tipo 2</h1>
          <h2 class="cell secondary-title">Este es un titulo segundo de la pagina</h2>
          <h3 class="cell third-title">Este es un tercer titulo tercero de la pagina tipo</h3>
          <h4 class="cell text-subtitle">este es un subtitulo pequeño alinieao ziquierda:</h4>
        </div>

        <div class="grid-x">
          <h1 class="cell">Pltanillas para contenedor card:</h1>
          <hr>
          <div class="cell small-12 medium-3 large-3">
            <div id="clickeable" onclick="location.href='#';" class="simple-card">
              <div class="simple-card__header">
                <img src="/img/2.jpg" alt="name" class="simple-card__header__img">
                <p class="simple-card__header__tag color-ct">con techo</p>
              </div>
              <div class="simple-card__body">
                <a href="#" class="simple-card__body__title">simple-card-body</a>
                <p class="simple-card__body__text">aqui debe ir un texto o aguna clase de tetxo que describa algo dell card.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <h1 class="cell">Plantilla para formularios</h1>
            <div class="cell small-6 form-item">
              <label class="form-item__label">Correo Electrónico</label>
              <input type="text" class="form-item__input" placeholder="email">
              <i class="fa fa-envelope form-item__icon" aria-hidden="true"></i>
            </div>
            <div class="cell small-6 form-item">
              <label class="form-item__label">Nombres</label>
              <input type="text" class="form-item__input" placeholder="nombre competo">
              <i class="fa fa-envelope form-item__icon" aria-hidden="true"></i>
            </div>

          <h2>contenedor de formularios</h2>
          <div class="cell small-12 large-8 grid-x grid-margin-x align-center form-card">
            <h4 class="cell form-card__title">Titulo del card</h4>
            <div class="cell small-12 large-6 form-item">
              <label class="form-item__label">Correo Electrónico</label>
              <input type="text" class="form-item__input" placeholder="email">
              <i class="fa fa-envelope form-item__icon" aria-hidden="true"></i>
            </div>
            <div class="cell small-12 large-6 form-item">
              <label class="form-item__label">Nombres</label>
              <input type="text" class="form-item__input" placeholder="nombre competo">
              <i class="fa fa-envelope form-item__icon" aria-hidden="true"></i>
            </div>
            <div class="cell btn-group-primary">
              <button type="button" name="button" class="btn-group-primary__btn1">
                Registrar
              </button>
            </div>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <h1 class="cell">Botones principales</h1>
          <div class="cell small-12 medium-4 large-2">
            <a href="#" class="btn-primary">Ingresar</a>
          </div>
          <div class="cell small-12 medium-4 large-2">
            <a href="#" class="btn-secondary">Registrar</a>
          </div>
          <div class="cell small-12 medium-4 large-2">
            <a href="#" class="btn-thirty">Iniciar</a>
          </div>
        </div>
        <br>
        <br>
        <div class="grid-x grid-margin-x">
          <h3 class="cell">Botones Secundarios</h3>
          <div class="cell small-12 medium-4 large-4">
            <a href="#" class="btn-2-primary">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
          </div>
          <div class="cell small-12 medium-4 large-4">
            <a href="#" class="btn-2-secondary">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
          </div>
          <div class="cell small-12 medium-4 large-4">
            <a href="#" class="btn-2-thirty">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <br>
        <br>
        <div class="grid-x grid-margin-x">
          <h3 class="cell">Large Botton</h3>
          <div class="cell small-12 medium-4 large-2">
            <button type="button" name="button" class="btn-primary btn-large">Ingresar</button>
          </div>
          <div class="cell small-12 medium-4 large-4">
            <button type="button" name="button" class="btn-2-primary btn-large">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
          </div>
          <div class="cell small-12">
            <button type="button" name="button" class="btn-secondary btn-large">Ingresar</button>
          </div>
          <div class="cell small-12">
            <button type="button" name="button" class="btn-2-primary btn-large">Ingresar</button>
          </div>
        </div>
        <br>
        <br>
        <div class="grid-x grid-margin-x">
          <h3 class="cell">Grupo de botones</h3>
          <div class="cell small-12 medium-6 large-8">
            <div class="cell btn-group-primary">
              <button type="button" name="button" class="btn-group-primary__btn1">
                Registrar
              </button>
              <button type="button" name="button" class="btn-group-primary__btn2">
                Cancelar
              </button>
            </div>
          </div>

          <div class="cell small-12 medium-6 large-8">
            <div class="cell btn-group-primary">
              <a href="#" class="btn-group-primary__btn1">
                Registrar
              </a>
              <a href="#" class="btn-group-primary__btn2">
                Cancelar
              </a>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </body>
</html>
