@each $name, $color in $colors-grey {
    .#{$name} {
        color: $color !important;
    }
    .bg--#{$name} {
        background-color: $color !important;
    }
}

@each $name, $color in $colors-primary {
    .#{$name} {
        color: $color !important;
    }
    .bg--#{$name} {
        background-color: $color !important;
    }
}