label,
input,
.field--radio-select {
  display: block;
  width: 100%;
  margin-bottom: .4em;
}

label {
  color: map-get($colors-grey, grey1);
  font-weight: $regular;
}

input,
select,
textarea,
.field--radio-select {
  outline: 0;
  width: 100%;
  border: 0;
  color: $color-form;
  padding: .65em;
  font-size: .9em;
  background-color: $bg-form;
  margin-bottom: .6em;
  letter-spacing: .8px;
}

.field--radio-label {
  display: block;
  width: 100%;
  margin-bottom: .4em;
  color: map-get($colors-grey, grey1);
  font-weight: $regular;
}

.field--radio-select {
  font-weight: $regular;
  margin-bottom: 0;
}
