.panel-container {
    padding-top: $height-headerPanel + 15px;
    background-color: #fff;
    box-shadow: 0 0 1px map-get($colors-grey, grey2);
    align-self: flex-start;
    @include from(m) {
    padding-top: $height-headerPanelFromM + 35px;
    }
}

.main-panel {

    @include from(m) {
        padding-right: $gutter*2 !important;
        padding-left: $gutter*2 !important;
    }
    @include from(l) {
        padding-right: $gutter*3 !important;
        padding-left: $gutter*3 !important;
    }
}

.self-panel--start {
    align-self: flex-start;
}