@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.ed-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ed-item {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

.ed-item {
  width: 100%;
}

.ed-item.ed-container {
  padding-left: 0;
  padding-right: 0;
}

.button {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
  border: none;
}

.s-5,
.ed-item.s-5 {
  width: 5%;
}

.s-10,
.ed-item.s-10 {
  width: 10%;
}

.s-15,
.ed-item.s-15 {
  width: 15%;
}

.s-20,
.ed-item.s-20 {
  width: 20%;
}

.s-25,
.ed-item.s-25 {
  width: 25%;
}

.s-30,
.ed-item.s-30 {
  width: 30%;
}

.s-35,
.ed-item.s-35 {
  width: 35%;
}

.s-40,
.ed-item.s-40 {
  width: 40%;
}

.s-45,
.ed-item.s-45 {
  width: 45%;
}

.s-50,
.ed-item.s-50 {
  width: 50%;
}

.s-55,
.ed-item.s-55 {
  width: 55%;
}

.s-60,
.ed-item.s-60 {
  width: 60%;
}

.s-65,
.ed-item.s-65 {
  width: 65%;
}

.s-70,
.ed-item.s-70 {
  width: 70%;
}

.s-75,
.ed-item.s-75 {
  width: 75%;
}

.s-80,
.ed-item.s-80 {
  width: 80%;
}

.s-85,
.ed-item.s-85 {
  width: 85%;
}

.s-90,
.ed-item.s-90 {
  width: 90%;
}

.s-95,
.ed-item.s-95 {
  width: 95%;
}

.s-100,
.ed-item.s-100 {
  width: 100%;
}

.s-1-3,
.ed-item.s-1-3 {
  width: 33.33333%;
}

.s-2-3,
.ed-item.s-2-3 {
  width: 66.66667%;
}

.s-3-3,
.ed-item.s-3-3 {
  width: 100%;
}

.s-1-6,
.ed-item.s-1-6 {
  width: 16.66667%;
}

.s-2-6,
.ed-item.s-2-6 {
  width: 33.33333%;
}

.s-3-6,
.ed-item.s-3-6 {
  width: 50%;
}

.s-4-6,
.ed-item.s-4-6 {
  width: 66.66667%;
}

.s-5-6,
.ed-item.s-5-6 {
  width: 83.33333%;
}

.s-6-6,
.ed-item.s-6-6 {
  width: 100%;
}

@media all and (min-width: 640px) {
  .m-5,
  .ed-item.m-5 {
    width: 5%;
  }
  .m-10,
  .ed-item.m-10 {
    width: 10%;
  }
  .m-15,
  .ed-item.m-15 {
    width: 15%;
  }
  .m-20,
  .ed-item.m-20 {
    width: 20%;
  }
  .m-25,
  .ed-item.m-25 {
    width: 25%;
  }
  .m-30,
  .ed-item.m-30 {
    width: 30%;
  }
  .m-35,
  .ed-item.m-35 {
    width: 35%;
  }
  .m-40,
  .ed-item.m-40 {
    width: 40%;
  }
  .m-45,
  .ed-item.m-45 {
    width: 45%;
  }
  .m-50,
  .ed-item.m-50 {
    width: 50%;
  }
  .m-55,
  .ed-item.m-55 {
    width: 55%;
  }
  .m-60,
  .ed-item.m-60 {
    width: 60%;
  }
  .m-65,
  .ed-item.m-65 {
    width: 65%;
  }
  .m-70,
  .ed-item.m-70 {
    width: 70%;
  }
  .m-75,
  .ed-item.m-75 {
    width: 75%;
  }
  .m-80,
  .ed-item.m-80 {
    width: 80%;
  }
  .m-85,
  .ed-item.m-85 {
    width: 85%;
  }
  .m-90,
  .ed-item.m-90 {
    width: 90%;
  }
  .m-95,
  .ed-item.m-95 {
    width: 95%;
  }
  .m-100,
  .ed-item.m-100 {
    width: 100%;
  }
  .m-1-3,
  .ed-item.m-1-3 {
    width: 33.33333%;
  }
  .m-2-3,
  .ed-item.m-2-3 {
    width: 66.66667%;
  }
  .m-3-3,
  .ed-item.m-3-3 {
    width: 100%;
  }
  .m-1-6,
  .ed-item.m-1-6 {
    width: 16.66667%;
  }
  .m-2-6,
  .ed-item.m-2-6 {
    width: 33.33333%;
  }
  .m-3-6,
  .ed-item.m-3-6 {
    width: 50%;
  }
  .m-4-6,
  .ed-item.m-4-6 {
    width: 66.66667%;
  }
  .m-5-6,
  .ed-item.m-5-6 {
    width: 83.33333%;
  }
  .m-6-6,
  .ed-item.m-6-6 {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .l-5,
  .ed-item.l-5 {
    width: 5%;
  }
  .l-10,
  .ed-item.l-10 {
    width: 10%;
  }
  .l-15,
  .ed-item.l-15 {
    width: 15%;
  }
  .l-20,
  .ed-item.l-20 {
    width: 20%;
  }
  .l-25,
  .ed-item.l-25 {
    width: 25%;
  }
  .l-30,
  .ed-item.l-30 {
    width: 30%;
  }
  .l-35,
  .ed-item.l-35 {
    width: 35%;
  }
  .l-40,
  .ed-item.l-40 {
    width: 40%;
  }
  .l-45,
  .ed-item.l-45 {
    width: 45%;
  }
  .l-50,
  .ed-item.l-50 {
    width: 50%;
  }
  .l-55,
  .ed-item.l-55 {
    width: 55%;
  }
  .l-60,
  .ed-item.l-60 {
    width: 60%;
  }
  .l-65,
  .ed-item.l-65 {
    width: 65%;
  }
  .l-70,
  .ed-item.l-70 {
    width: 70%;
  }
  .l-75,
  .ed-item.l-75 {
    width: 75%;
  }
  .l-80,
  .ed-item.l-80 {
    width: 80%;
  }
  .l-85,
  .ed-item.l-85 {
    width: 85%;
  }
  .l-90,
  .ed-item.l-90 {
    width: 90%;
  }
  .l-95,
  .ed-item.l-95 {
    width: 95%;
  }
  .l-100,
  .ed-item.l-100 {
    width: 100%;
  }
  .l-1-3,
  .ed-item.l-1-3 {
    width: 33.33333%;
  }
  .l-2-3,
  .ed-item.l-2-3 {
    width: 66.66667%;
  }
  .l-3-3,
  .ed-item.l-3-3 {
    width: 100%;
  }
  .l-1-6,
  .ed-item.l-1-6 {
    width: 16.66667%;
  }
  .l-2-6,
  .ed-item.l-2-6 {
    width: 33.33333%;
  }
  .l-3-6,
  .ed-item.l-3-6 {
    width: 50%;
  }
  .l-4-6,
  .ed-item.l-4-6 {
    width: 66.66667%;
  }
  .l-5-6,
  .ed-item.l-5-6 {
    width: 83.33333%;
  }
  .l-6-6,
  .ed-item.l-6-6 {
    width: 100%;
  }
}

@media all and (min-width: 1440px) {
  .xl-5,
  .ed-item.xl-5 {
    width: 5%;
  }
  .xl-10,
  .ed-item.xl-10 {
    width: 10%;
  }
  .xl-15,
  .ed-item.xl-15 {
    width: 15%;
  }
  .xl-20,
  .ed-item.xl-20 {
    width: 20%;
  }
  .xl-25,
  .ed-item.xl-25 {
    width: 25%;
  }
  .xl-30,
  .ed-item.xl-30 {
    width: 30%;
  }
  .xl-35,
  .ed-item.xl-35 {
    width: 35%;
  }
  .xl-40,
  .ed-item.xl-40 {
    width: 40%;
  }
  .xl-45,
  .ed-item.xl-45 {
    width: 45%;
  }
  .xl-50,
  .ed-item.xl-50 {
    width: 50%;
  }
  .xl-55,
  .ed-item.xl-55 {
    width: 55%;
  }
  .xl-60,
  .ed-item.xl-60 {
    width: 60%;
  }
  .xl-65,
  .ed-item.xl-65 {
    width: 65%;
  }
  .xl-70,
  .ed-item.xl-70 {
    width: 70%;
  }
  .xl-75,
  .ed-item.xl-75 {
    width: 75%;
  }
  .xl-80,
  .ed-item.xl-80 {
    width: 80%;
  }
  .xl-85,
  .ed-item.xl-85 {
    width: 85%;
  }
  .xl-90,
  .ed-item.xl-90 {
    width: 90%;
  }
  .xl-95,
  .ed-item.xl-95 {
    width: 95%;
  }
  .xl-100,
  .ed-item.xl-100 {
    width: 100%;
  }
  .xl-1-3,
  .ed-item.xl-1-3 {
    width: 33.33333%;
  }
  .xl-2-3,
  .ed-item.xl-2-3 {
    width: 66.66667%;
  }
  .xl-3-3,
  .ed-item.xl-3-3 {
    width: 100%;
  }
  .xl-1-6,
  .ed-item.xl-1-6 {
    width: 16.66667%;
  }
  .xl-2-6,
  .ed-item.xl-2-6 {
    width: 33.33333%;
  }
  .xl-3-6,
  .ed-item.xl-3-6 {
    width: 50%;
  }
  .xl-4-6,
  .ed-item.xl-4-6 {
    width: 66.66667%;
  }
  .xl-5-6,
  .ed-item.xl-5-6 {
    width: 83.33333%;
  }
  .xl-6-6,
  .ed-item.xl-6-6 {
    width: 100%;
  }
}

.to-center {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.to-left {
  float: left;
  width: auto;
  margin-right: 1em;
}

.to-right {
  float: right;
  width: auto;
  margin-left: 1em;
}

.full {
  max-width: 100%;
}

.circle {
  border-radius: 50%;
}

.clearfix:before, .clearfix:after {
  content: "";
  width: 100%;
  display: table;
  clear: both;
}

.no-padding.ed-container > .ed-item {
  padding-left: 0em;
  padding-right: 0em;
}

.no-padding.ed-item {
  padding-left: 0em;
  padding-right: 0em;
}

.padding {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

.padding-2 {
  padding-left: 1.875em;
  padding-right: 1.875em;
}

.padding-3 {
  padding-left: 2.8125em;
  padding-right: 2.8125em;
}

body.sticky-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
}

body.sticky-footer > footer {
  margin-top: auto;
}

.main-justify {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.main-distribute {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.main-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.main-end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.cross-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.cross-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cross-end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-reverse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
}

.flex-column-reverse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.abcenter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}

.s-justify {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media all and (min-width: 640px) {
  .m-justify {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

@media all and (min-width: 1024px) {
  .l-justify {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

@media all and (min-width: 1440px) {
  .xl-justify {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

.s-distribute {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (min-width: 640px) {
  .m-distribute {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 1024px) {
  .l-distribute {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 1440px) {
  .xl-distribute {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.s-main-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

@media all and (min-width: 640px) {
  .m-main-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media all and (min-width: 1024px) {
  .l-main-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media all and (min-width: 1440px) {
  .xl-main-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.s-main-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

@media all and (min-width: 640px) {
  .m-main-start {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

@media all and (min-width: 1024px) {
  .l-main-start {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

@media all and (min-width: 1440px) {
  .xl-main-start {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

.s-main-end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

@media all and (min-width: 640px) {
  .m-main-end {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
}

@media all and (min-width: 1024px) {
  .l-main-end {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
}

@media all and (min-width: 1440px) {
  .xl-main-end {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
}

.from-s {
  display: none;
}

.to-s {
  display: none;
}

@media screen and (max-width: 639px) {
  .from-m {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .to-m {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .from-l {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .to-l {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .from-xl {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .to-xl {
    display: none;
  }
}

.ed-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.ed-video > iframe,
.ed-video > video > .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  background: #ddd;
  color: #333;
}

.button:hover {
  background: #d0d0d0;
  text-decoration: none;
}

.button:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #8f9ca4;
  background-color: #f4f8fb;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.main {
  padding-top: 60px;
}

.main__login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-top: 1em;
  height: 100vh;
  -ms-flex-pack: center;
      justify-content: center;
}

@media screen and (min-width: 640px) {
  .main__login {
    -ms-flex-align: center;
        align-items: center;
    padding-top: 0;
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
  color: #3d464d;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

.title--panel {
  padding: 0.65em 0 0.9375em;
  border-bottom: 1px solid #f1f2f7;
  margin: 0 0 1em;
  font-size: 0.875rem;
  font-weight: 400;
  color: #81898c;
}

@media screen and (min-width: 640px) {
  .title--panel {
    font-size: 1em;
  }
}

.title--main {
  font-size: 28;
  text-align: center;
  margin-bottom: 1em;
}

@media screen and (min-width: 640px) {
  .title--main {
    margin-bottom: 1.5em;
  }
}

.title--secundary {
  margin-top: .5em;
  font-size: 24px;
}

.btn {
  background-color: #fff;
  border: 1px solid #81898c;
  cursor: pointer;
  color: #81898c;
  display: inline-block;
  font-size: .9em;
  line-height: 2.5em;
  margin-bottom: 1em;
  padding: 0 1em;
  position: relative;
}

.btn.btn--blue {
  color: #fff;
  background-color: #2893bd;
  border: 1px solid #2893bd;
  transition: transform .1s, background-color .3s, border-color .3s;
}

.btn.btn--blue:hover {
  background-color: #227ca0;
  border-color: #227ca0;
}

.btn.btn--blue:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--skyblue {
  color: #fff;
  background-color: #3498db;
  border: 1px solid #3498db;
  transition: transform .1s, background-color .3s, border-color .3s;
}

.btn.btn--skyblue:hover {
  background-color: #2386c8;
  border-color: #2386c8;
}

.btn.btn--skyblue:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--green {
  color: #fff;
  background-color: #7bc202;
  border: 1px solid #7bc202;
  transition: transform .1s, background-color .3s, border-color .3s;
}

.btn.btn--green:hover {
  background-color: #659f02;
  border-color: #659f02;
}

.btn.btn--green:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--green2 {
  color: #fff;
  background-color: #1fa345;
  border: 1px solid #1fa345;
  transition: transform .1s, background-color .3s, border-color .3s;
}

.btn.btn--green2:hover {
  background-color: #198538;
  border-color: #198538;
}

.btn.btn--green2:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--red {
  color: #fff;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  transition: transform .1s, background-color .3s, border-color .3s;
}

.btn.btn--red:hover {
  background-color: #e32f1c;
  border-color: #e32f1c;
}

.btn.btn--red:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--orange {
  color: #fff;
  background-color: #fa6239;
  border: 1px solid #fa6239;
  transition: transform .1s, background-color .3s, border-color .3s;
}

.btn.btn--orange:hover {
  background-color: #f94616;
  border-color: #f94616;
}

.btn.btn--orange:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--yellow {
  color: #fff;
  background-color: #ffdd36;
  border: 1px solid #ffdd36;
  transition: transform .1s, background-color .3s, border-color .3s;
}

.btn.btn--yellow:hover {
  background-color: #ffd712;
  border-color: #ffd712;
}

.btn.btn--yellow:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.btn.btn--facebook:hover {
  background-color: #4466ae;
  border-color: #324c82;
}

.btn.btn--facebook:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #00aced;
}

.btn.btn--twitter:hover {
  background-color: #0dbdff;
  border-color: #0096ce;
}

.btn.btn--twitter:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--googleplus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}

.btn.btn--googleplus:hover {
  background-color: #e16353;
  border-color: #d33724;
}

.btn.btn--googleplus:active {
  -ms-transform: scale(0.97);
      transform: scale(0.97);
}

.btn.btn--round {
  border-radius: 50%;
}

.btn.btn--submit {
  color: #fff;
  background-color: #1fa345;
  border: 1px solid #21b04a;
  line-height: 2.3em;
  transition: all .7s;
}

.btn.btn--submit:hover {
  background-color: #25c152;
}

.btn.btn--cancel {
  border: 1px solid #e5eaed;
  line-height: 2.3em;
  transition: all .7s;
}

.btn.btn--cancel:hover {
  border: 1px solid #8f9ca4;
  text-decoration: none;
}

label,
input,
.field--radio-select {
  display: block;
  width: 100%;
  margin-bottom: .4em;
}

label {
  /*color: #81898c;*/
  color: #1B5E20;
  font-weight: 400;
}

input,
select,
textarea,
.field--radio-select {
  outline: 0;
  width: 100%;
  border: 0;
  color: #5f6d78;
  padding: .65em;
  font-size: .9em;
  background-color: #E8F5E9;
  margin-bottom: .6em;
  letter-spacing: .8px;
}

.field--radio-label {
  display: block;
  width: 100%;
  margin-bottom: .4em;
  color: #81898c;
  font-weight: 400;
}

.field--radio-select {
  font-weight: 400;
  margin-bottom: 0;
}

.panel-container {
  padding-top: 55px;
  background-color: #fff;
  box-shadow: 0 0 1px #8f9ca4;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 640px) {
  .panel-container {
    padding-top: 80px;
  }
}

@media screen and (min-width: 640px) {
  .main-panel {
    padding-right: 1.875em !important;
    padding-left: 1.875em !important;
  }
}

@media screen and (min-width: 1024px) {
  .main-panel {
    padding-right: 2.8125em !important;
    padding-left: 2.8125em !important;
  }
}

.self-panel--start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.social--sb {
  margin-top: 1em;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media screen and (min-width: 640px) {
  .social--sb {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.black {
  color: #3d464d !important;
}

.bg--black {
  background-color: #3d464d !important;
}

.grey1 {
  color: #81898c !important;
}

.bg--grey1 {
  background-color: #81898c !important;
}

.grey2 {
  color: #8f9ca4 !important;
}

.bg--grey2 {
  background-color: #8f9ca4 !important;
}

.grey3 {
  color: #e5eaed !important;
}

.bg--grey3 {
  background-color: #e5eaed !important;
}

.grey4 {
  color: #f4f8fb !important;
}

.bg--grey4 {
  background-color: #f4f8fb !important;
}

.grey5 {
  color: #f1f2f7 !important;
}

.bg--grey5 {
  background-color: #f1f2f7 !important;
}

.white {
  color: #fff !important;
}

.bg--white {
  background-color: #fff !important;
}

.blue {
  color: #2893bd !important;
}

.bg--blue {
  background-color: #2893bd !important;
}

.skyblue {
  color: #3498db !important;
}

.bg--skyblue {
  background-color: #3498db !important;
}

.green {
  color: #7bc202 !important;
}

.bg--green {
  background-color: #7bc202 !important;
}

.green2 {
  color: #1fa345 !important;
}

.bg--green2 {
  background-color: #1fa345 !important;
}

.red {
  color: #e74c3c !important;
}

.bg--red {
  background-color: #e74c3c !important;
}

.orange {
  color: #fa6239 !important;
}

.bg--orange {
  background-color: #fa6239 !important;
}

.yellow {
  color: #ffdd36 !important;
}

.bg--yellow {
  background-color: #ffdd36 !important;
}

.toggle-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  color: #7bc202;
  font-size: .75em;
  cursor: pointer;
  padding: 0 .5em;
  font-weight: 400;
  -ms-flex-order: 1;
      order: 1;
}

@media screen and (min-width: 1024px) {
  .toggle-menu {
    display: none;
  }
}

.toggle-menu .bar, .toggle-menu .bar::before, .toggle-menu .bar::after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #7bc202;
  height: 2px;
  width: 20px;
  display: block;
}

.toggle-menu .bar {
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
}

.toggle-menu .bar::before, .toggle-menu .bar::after {
  content: '';
  position: absolute;
  transition: transform .7s;
}

.toggle-menu .bar::before {
  -ms-transform: translateY(-6px);
      transform: translateY(-6px);
}

.toggle-menu .bar::after {
  -ms-transform: translateY(6px);
      transform: translateY(6px);
}

.toggle-menu .name-toggle {
  padding-top: 4px;
}

.toggle-menu.show .bar {
  background-color: rgba(123, 194, 2, 0);
}

.toggle-menu.show .bar::before {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.toggle-menu.show .bar::after {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.radios {
  border-right: 1px solid #f1f2f7;
  border-left: 1px solid #f1f2f7;
  border-bottom: 2px solid #f1f2f7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
  margin-bottom: .6em;
}

@media screen and (min-width: 640px) {
  .radios {
    border-right: 2px solid #f1f2f7;
    border-left: 2px solid #f1f2f7;
  }
}

.radio > input[type="radio"] {
  display: none;
}

.radio > input[type="radio"]:checked + label {
  border: 1px solid #d5dadd;
  box-shadow: 0 0 1px white inset;
}

.radio > label {
  display: block;
  height: 2.5em;
  width: 2.5em;
  border-radius: 2.5em;
  box-shadow: 0 1px 0 #8f9ca4, 0px 3px 3px #89979f;
  overflow: hidden;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: all 3s;
}

.radio > label::before {
  content: "";
  height: 6.25em;
  width: 1.66667em;
  top: -80%;
  left: -2.125em;
  position: absolute;
  background-color: #e5eaed;
  opacity: .3;
  -ms-transform: rotate(35deg);
      transform: rotate(35deg);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.radio > label:hover::before {
  left: 120%;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.radio > label[for="futbol"] {
  background-image: url(../img/radio/1.png);
}

.radio > label[for="voley"] {
  background-image: url(../img/radio/2.png);
}

.radio > label[for="basquet"] {
  background-image: url(../img/radio/3.png);
}

.radio > label[for="ajedrez"] {
  background-image: url(../img/radio/4.png);
}

.radio > label[for="dota"] {
  background-image: url(../img/radio/5.png);
}

.radio > label[for="pokemon"] {
  background-image: url(../img/radio/6.png);
}

.main-header, .main-header--panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: #fff;
}

.header-container {
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.main-header--panel {
  background-color: #1fa345;
  color: #fff;
  border-bottom: 1px solid #1d9640;
  box-shadow: 0 1px 2px #8f9ca4;
}

.header-container--panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 40px;
}

@media screen and (min-width: 640px) {
  .header-container--panel {
    height: 45px;
  }
}

.header-container--panel__logo {
  padding-right: .5em;
}

@media screen and (min-width: 640px) {
  .header-container--panel__logo {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.header-container--panel__search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.header-container--panel__settings {
  padding-left: .5em;
}

.header-container--panel__input {
  margin-bottom: 0;
  height: 26.66667px;
  border-radius: 4px;
  background-color: #21ac49;
  transition: all 0.8s;
}

@media screen and (min-width: 640px) {
  .header-container--panel__input {
    height: 30px;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.header-container--panel__input::-webkit-input-placeholder {
  color: #f7fdf9;
  opacity: .8;
  font-weight: 300;
  font-size: .9em;
  transition: all 0.8s;
}

.header-container--panel__input:-ms-input-placeholder {
  color: #f7fdf9;
  opacity: .8;
  font-weight: 300;
  font-size: .9em;
  transition: all 0.8s;
}

.header-container--panel__input:focus {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #fff;
  transition: all 0.8s;
}

.header-container--panel__input:focus::-webkit-input-placeholder {
  color: #8f9ca4;
  transition: all 0.8s;
}

.header-container--panel__input:focus:-ms-input-placeholder {
  color: #8f9ca4;
  transition: all 0.8s;
}

.header-container--panel__add {
  margin-bottom: 0;
  color: white;
}

.secundary-menu__link, .secundary-menu__link--active {
  display: block;
  position: relative;
  padding: 0.46875em 2px;
  text-transform: uppercase;
  font-size: .8rem;
  color: #81898c;
}

@media screen and (min-width: 640px) {
  .secundary-menu__link, .secundary-menu__link--active {
    font-size: 1rem;
  }
}

.main-nav {
  position: fixed;
  top: 60px;
  right: -16em;
  width: 16em;
  background-color: #e5eaed;
  transition: right .7s;
}

@media screen and (min-width: 1024px) {
  .main-nav {
    position: static;
    background-color: transparent;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
}

.main-nav.show {
  right: 0;
}

.main-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .main-menu {
    position: static;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu__item {
    display: block;
    margin-right: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

.main-menu__item--action {
  position: absolute;
  bottom: 12%;
  left: 5%;
  right: 5%;
  width: 90%;
}

@media screen and (min-width: 1024px) {
  .main-menu__item--action {
    position: static;
    display: block;
  }
}

.main-menu__link {
  position: relative;
  padding: .8em 1em;
  display: block;
  color: #81898c;
  text-transform: capitalize;
  font-weight: 400;
  font-size: .95em;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .main-menu__link {
    padding: .5em .2em;
  }
}

.main-menu__link:hover {
  text-decoration: none;
  color: #686f72;
  background-color: #d9e0e5;
}

@media screen and (min-width: 1024px) {
  .main-menu__link:hover {
    background-color: inherit;
  }
}

.main-menu__link:hover::before {
  opacity: 1;
}

.main-menu__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #7bc202;
  opacity: 0;
  transition: opacity .3s;
}

@media screen and (min-width: 1024px) {
  .main-menu__link::before {
    top: auto;
    bottom: 0;
    height: 4px;
    width: 100%;
  }
}

.main-menu--action__link {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .main-menu--action__link {
    margin: 0;
  }
}

.secundary-nav {
  width: 100%;
  margin-bottom: 1.5rem;
}

.secundary-menu {
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 640px) {
  .secundary-menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.secundary-menu__link:hover {
  text-decoration: none;
  font-weight: 400;
}

.secundary-menu__link:hover::before {
  opacity: 1;
}

.secundary-menu__link::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1fa345;
  opacity: 0;
  transition: all .8s;
}

.secundary-menu__link--active {
  font-weight: 400;
}

.secundary-menu__link--active:hover {
  text-decoration: none;
}

.secundary-menu__link--active::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1fa345;
  transition: all .8s;
}

.form-container, .form-conainer--center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.form-conainer--center {
  -ms-flex-align: center;
      align-items: center;
}

@media screen and (min-width: 640px) {
  .fields.two {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

@media screen and (min-width: 640px) {
  .fields.two .field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}

@media screen and (min-width: 640px) {
  .fields.three {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}

@media screen and (min-width: 640px) {
  .fields.three .field {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
}

.field--button {
  -ms-flex-item-align: center;
      align-self: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  margin: 1.5em 0 .5em;
  width: 70%;
}

@media screen and (min-width: 640px) {
  .field--button {
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 20%;
  }
}

.field--autocomplete {
  position: relative;
}

.field--match {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.form--search, .form--search--card {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.7em;
}

.form--search input, .form--search--card input {
  margin: 0;
  opacity: .75;
}

.form--search .btn--search, .form--search--card .btn--search {
  margin: 0;
}

.form--search--card {
  padding: 0 1.7em;
  margin-top: 1.7em;
}

.main-list__link, .main-list__link--active {
  display: block;
  font-weight: 300;
  letter-spacing: 1px;
  color: #81898c;
  padding: .65em 0 .65em .3em;
  transition: all 0.8s;
}

.list-holder {
  position: fixed;
  top: 0;
  left: -18em;
  width: 18em;
  height: 100vh;
  padding-top: 55px;
  background-color: #e5eaed;
  transition: all 0.8s;
}

.list-holder.show {
  left: 0;
}

@media screen and (min-width: 640px) {
  .list-holder {
    position: static;
    padding-top: 80px;
    background-color: transparent;
  }
}

.main-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.main-list__item {
  font-size: .9em;
  cursor: pointer;
  margin-bottom: 2px;
}

.main-list__link:hover {
  border-radius: 2px;
  text-decoration: none;
  font-weight: 400;
  opacity: .9;
  background-color: #1fa345;
  color: #fff;
  transition: all 0.8s;
}

.main-list__link--active {
  border-radius: 2px;
  font-weight: 400;
  opacity: .9;
  background-color: #1fa345;
  color: #fff;
}

.main-list__link--active:hover {
  text-decoration: none;
}

.card-list {
  margin: 0;
  padding: .4em 0 0;
  list-style: none;
}

.card-list__item {
  color: #81898c;
  font-size: .8em;
  padding: 0.1875em 0;
}

/* ****************** */
/* autocomplete  field*/
/* ****************** */
.autocomplete-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 250;
  box-shadow: 0 1px 1px 1px #e5eaed;
  display: none;
}

.autocomplete-result {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 1.5rem;
}

.autocomplete-result__user {
  margin-right: .5em;
  font-weight: 400;
}

.autocomplete-result__avatar {
  display: block;
  width: 32px;
  height: 32px;
}

.autocomplete__group {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 200px;
  width: 100%;
  overflow: auto;
}

.autocomplete__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 1.15em .5em;
  font-size: .9em;
  font-weight: 400;
  cursor: pointer;
}

.autocomplete__item:hover {
  background-color: #1fa345;
  color: #fff;
}

.autocomplete__avatar {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid #e5eaed;
}

.list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.list__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: .5em;
}

.list__item--row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: .5em;
}

.list__header {
  color: #81898c;
  font-weight: 400;
  padding-bottom: .2em;
}

.list__data {
  font-size: .95em;
}

.list__data a {
  color: #1fa345;
}

.list__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.list__avatar {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid #81898c;
  border-radius: 50%;
}

.card__category--futbol, .card__category--basquet, .card__category--voley, .card__category--ajedrez, .card__category--dota, .card__category--pokemon {
  position: absolute;
  left: 0.9375em;
  top: 0.9375em;
  display: block;
  padding: 0.3125em 0.46875em;
  border-radius: 5px;
  font-size: .8em;
  color: white;
  text-transform: capitalize;
}

.card__link--inscribed, .card__link--admin, .card__link--in {
  font-size: .8em;
  font-weight: 400;
  line-height: 2;
  margin-top: .5em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2px;
}

.card--login {
  background-color: #fff;
  padding: 2em 2em 1em;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.card--login::after {
  content: "";
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 5%;
  right: 5%;
  top: 50%;
  z-index: -1;
  border-radius: 100px / 10px;
}

.card-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.cards__title {
  margin-top: 1em;
  text-align: center;
}

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px #8f9ca4, 0 0 20px #e5eaed;
  background-color: #fff;
}

.card__title, .card__title--upload {
  padding: 0.8em 1em;
  border-bottom: 1px solid #e5eaed;
  font-size: 0.96em;
  text-transform: uppercase;
  font-weight: 400;
}

.card__title--upload {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.card__cancel {
  color: #e74c3c;
}

.card__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 1.5em 0.9375em 1em;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.card__body--upload {
  padding-right: 0;
  padding-left: 0;
}

.card__image {
  position: relative;
}

.card__image__banner {
  display: block;
  height: 180%;
  width: 100%;
}

.card__image__author {
  position: absolute;
  left: 0.9375em;
  bottom: -16px;
  padding: 2px;
  border: 1px solid #81898c;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.card__input-file {
  position: absolute;
  right: 4%;
  bottom: 7%;
  height: 2.5em;
  width: 2.5em;
  border-radius: 2.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #3d464d;
  opacity: .7;
}

.card__input-file input[type="file"] {
  height: 100%;
  width: 100%;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.card__category--futbol {
  background-color: #2ecc71;
}

.card__category--basquet {
  background-color: #f39c12;
}

.card__category--voley {
  background-color: #f1c40f;
}

.card__category--ajedrez {
  background-color: #2980b9;
}

.card__category--dota {
  background-color: #B44335;
}

.card__category--pokemon {
  background-color: #e74c3c;
}

.card__subtitle {
  font-size: .95em;
  font-weight: 400;
}

@media screen and (min-width: 640px) {
  .card__subtitle {
    font-size: .97em;
  }
}

.card__content {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.card__link--inscribed {
  background-color: #7bc202;
}

.card__link--inscribed:hover {
  background-color: #6ba902;
}

.card__link--admin {
  background-color: #ffdd36;
}

.card__link--admin:hover {
  background-color: #ffd91d;
}

.card__link--in {
  background-color: #1fa345;
}

.card__link--in:hover {
  background-color: #1b8e3c;
}

.card__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.card__footer button[type="submit"] {
  text-transform: uppercase;
  margin: 1em 0;
}

.card--upload {
  margin-top: 0;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .card--upload {
    width: 40%;
  }
}

.card--team {
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}

.card--team__image {
  padding: 2em 0 .7em;
}

.card--team__logo {
  display: block;
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 640px) {
  .card--team__logo {
    width: 80px;
    height: 80px;
  }
}

.card--team__body {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.card--team__name {
  font-size: .93em;
  font-weight: 400;
  color: #3d464d;
  margin-bottom: .2em;
}

.card--team__category--futbol {
  font-size: .82em;
  color: #2ecc71;
}

.card--team__category--basquet {
  font-size: .82em;
  color: #f39c12;
}

.card--team__category--voley {
  font-size: .82em;
  color: #f1c40f;
}

.card--team__category--ajedrez {
  font-size: .82em;
  color: #2980b9;
}

.card--team__category--dota {
  font-size: .82em;
  color: #B44335;
}

.card--team__category--pokemon {
  font-size: .82em;
  color: #e74c3c;
}

.card--team__footer {
  margin-top: .5em;
  display: block;
  width: 100%;
  text-align: center;
}

.card--team__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: .7em 0;
  font-size: .82em;
  position: relative;
  color: #3d464d;
  font-weight: 400;
}

.card--team__link:hover {
  text-decoration: none;
  background-color: #7bc202;
  color: white;
  transition: all 0.8s ease-in-out;
}

.card--team__link::before {
  content: "";
  position: absolute;
  top: 0;
  width: 15%;
  border-bottom: 1px solid #7bc202;
}

.card--team__link:hover::before {
  width: 100%;
  transition: all 0.8s ease-in-out;
}

.card--player {
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}

.card--player:hover {
  box-shadow: 0 1px 2px #7bc202, 0 0 5px #7bc202;
}

.card--player__image {
  padding: 1em 0 .7em;
}

@media screen and (min-width: 640px) {
  .card--player__image {
    padding: 1.5em 0 .7em;
  }
}

.card--player__users {
  display: block;
  border: 1px solid #e5eaed;
  border-radius: 50%;
  box-shadow: 0 1px 1px #8f9ca4;
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 640px) {
  .card--player__users {
    width: 100px;
    height: 100px;
  }
}

.card--player__body {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  font-size: .8em;
}

.card--player__full-name {
  font-size: 1.1em;
  font-weight: 400;
  color: #3d464d;
  margin-bottom: .2em;
}

.card--player__category--futbol {
  font-size: .82em;
  color: #2ecc71;
}

.card--player__category--basquet {
  font-size: .82em;
  color: #f39c12;
}

.card--player__category--voley {
  font-size: .82em;
  color: #f1c40f;
}

.card--player__category--ajedrez {
  font-size: .82em;
  color: #2980b9;
}

.card--player__category--dota {
  font-size: .82em;
  color: #B44335;
}

.card--player__category--pokemon {
  font-size: .82em;
  color: #e74c3c;
}

.card--player__footer {
  margin-top: .5em;
  display: block;
  width: 100%;
  text-align: center;
}

.card--player__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: .7em 0;
  font-size: .82em;
  position: relative;
  color: white;
  font-weight: 400;
  background-color: #7bc202;
  cursor: pointer;
}

.card--player__link::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #7bc202;
}

.card--match {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0.9375em 0;
}

.card--match__team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.card--match__team__img {
  display: block;
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 640px) {
  .card--match__team__img {
    width: 60px;
    height: 60px;
  }
}

.card--match__team__name {
  margin-top: .5em;
  font-weight: 400;
  color: #3d464d;
}

.card--match__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  white-space: nowrap;
  padding: 0 1em;
  font-weight: 400;
}

.card--match__date {
  color: #7bc202;
}

.card--match__result {
  color: #3d464d;
  font-size: 1.4em;
  margin-bottom: .1em;
}

.teams {
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 1rem 0;
  margin-top: 1em;
}

.team__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 0.46875em;
}

.team__avatar {
  display: block;
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 640px) {
  .team__avatar {
    width: 48px;
    height: 48px;
    padding-bottom: .2em;
  }
}

.team__name {
  font-size: .8em;
}

.match__team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.match__avatar {
  display: block;
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 640px) {
  .match__avatar {
    width: 100px;
    height: 100px;
  }
}

.match__data {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.login-container, .login-container--account {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 90%;
  margin-bottom: 1em;
}

@media screen and (min-width: 640px) {
  .login-container, .login-container--account {
    width: auto;
    padding: 2em auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 640px) {
  .login-container--account {
    width: 38%;
  }
}

.login__title {
  font-weight: 400;
  padding-bottom: 1em;
}

.login__form {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.login__field {
  position: relative;
}

.login__field label {
  font-size: 0.9em;
  margin-left: 9px;
}

.login__field input {
  border-radius: 25px;
  background-color: #F1F2F7;
  padding-left: 35px;
}

.login__field input:focus {
  background-color: #fff;
  border: 1px solid #F1F2F7;
}

.login__field i {
  position: absolute;
  content: "";
  top: 31px;
  left: 10px;
}

@media screen and (min-width: 640px) {
  .login__submit {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
}

.login__submit button {
  border-radius: 25px;
  margin-bottom: 0.6em;
  line-height: 2.3;
  font-size: size-text;
  width: 100%;
  margin-top: 1em;
}

.login__forgot {
  margin: .3em 0 1em 0;
  font-size: .77em;
  color: #81898c;
}

.login__forgot:hover {
  color: #7bc202;
}

.login__or {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: .9em;
  width: 100%;
}

.login__or::before, .login__or::after {
  content: "";
  height: 1px;
  background: -webkit-linear-gradient(left, #F1F2F7 0%, #F1F2F7 20%, #C3C1C1 40%, #BBB4B4 60%, #B2ACAC 80%, #A6A5A5 100%);
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.login__or::before {
  margin-right: .3em;
}

.login__or::after {
  margin-left: .3em;
  background: -webkit-linear-gradient(right, #F1F2F7 0%, #F1F2F7 20%, #C3C1C1 40%, #BBB4B4 60%, #B2ACAC 80%, #A6A5A5 100%);
}

.login__account {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
}

.login__account span {
  font-size: .9em;
  padding: .5em 0 1em;
}

.login__account a {
  font-size: .9em;
  border-radius: 25px;
  width: 100%;
  line-height: 2.3;
}

.login__account__link {
  font-size: 1em !important;
  color: #7bc202;
}

.login__account__submit {
  margin-top: 1em;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: .85em;
}

.login__terms {
  font-size: .85em;
  text-align: center;
}

.login__terms a {
  color: #7bc202;
}

.banner {
  position: relative;
  height: calc(95vh - 60px);
}

.banner::before {
  z-index: 300;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .25;
  background: linear-gradient(#fff, #7bc202);
}

.banner__img {
  position: absolute;
  display: block;
  height: calc(95vh - 60px);
  width: 100%;
}

.banner__data {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  width: 90%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  z-index: 350;
}

@media screen and (min-width: 640px) {
  .banner__data {
    width: 50%;
  }
}

.banner__title {
  font-size: 1.3em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1em;
}

@media screen and (min-width: 640px) {
  .banner__title {
    font-size: 1.8em;
  }
}
