// paleta de colores.

  // colores principales.
    $colors-primary: (
      blue: #2893bd,
      skyblue: #3498db,
      green: #7bc202,
      green2: #1fa345,
      red: #e74c3c,
      orange: #fa6239,
      yellow: #ffdd36
    );

  // colores grises
    $colors-grey: (
      black: #3d464d,
      grey1: #81898c,
      grey2: #8f9ca4,
      grey3: #e5eaed,
      grey4: #f4f8fb, //--background
      grey5: #f1f2f7, //-- bg input
      white: #fff
    );
  
  // colores de las categerias
    $colors-category: (
      futbol: #2ecc71,
      basquet: #f39c12,
      voley: #f1c40f,
      ajedrez: #2980b9,
      dota: #B44335,
      pokemon: #e74c3c
    );

  // colores de las redes sociales.

    $colors-social: (
      facebook: #3b5998,
      twitter: #00aced,
      googleplus: #dd4b39,
    );

// colores de border
  $color-borderPanel: map-get($colors-grey, grey5);

// colores de texto y background de input
  $color-form: lighten(map-get($colors-grey, black), 15);
  $bg-form: map-get($colors-grey, grey5);


// fuentes para titulos y parrafos.
  @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
  $font-text: 'Ubuntu', sans-serif;

  // tamaño de fuentes.
    $light: 300;
    $regular: 400;

// z-index de los elementos.

  $zindex-header: 500;
  $zindex-nav: 450;
  $zindex-search: 400;
  $zindex-dataBanner: 350;
  $zindex-backgroundBanner: 300;
  $zindex-complete: 250;


// width off canvas

  $offcanvas-width: 16em;
  $offcanvasPanel-width: 18em;

// hwight header panel

$height-headerPanel: 40px;
$height-headerPanelFromM: 45px;

// headr main
$height-header: 60px;
$bg-header: map-get($colors-grey, white);
$color-header: map-get($colors-primary, green);

// base
body {
  font-family: $font-text;
  font-weight: $light;
  color: map-get($colors-grey, grey2);
  background-color: map-get($colors-grey, grey4);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.main {
  padding-top: $height-header;
  &__login {
    display: flex;
    align-items: flex-start;
    padding-top: 1em;
    height: 100vh;
    justify-content: center;
    @include from(m) {
      align-items: center;
      padding-top: 0;
    }
  }
}
