$cssCore: false;
$cssHelpers: true;
$devMode: false;

// ed-grid import
@import 'ed-grid';

// local import
@import 'config-styles';

// local elements import
@import 'elements/title';
@import 'elements/button';
@import 'elements/input';
@import 'elements/panel';
@import 'elements/social';
@import 'elements/color';

// local module import
@import 'module/iconbar';
@import 'module/radio';
@import 'module/switch';

// local collection import
@import 'collections/header';
@import 'collections/nav';
@import 'collections/footer';
@import 'collections/form';
@import 'collections/list';
@import 'collections/card';
@import 'collections/team';
@import 'collections/match';
@import 'collections/login';
@import 'collections/banner';
