{% extends "zona/base_zona.html" %}

{% load staticfiles %}

{% block title %} Canchas de gras en distritos de Cusco {% endblock %}

{% block description %}Lista de canchas de gras sintetico en la ciduad de cusco{% endblock description %}

{% block content %}
  {% include "include/header.html" %}

  <!-- inicio de categorias -->
      <div class="grid-container ">
          <h1 class="categories-title">
            Encuentra canchas en tu Distrito
          </h1>
          <form action="buscador_submit" method="get" accept-charset="utf-8">
            <div class="buscador-search categories-search">
              <input type="text" class="buscador-search__input" placeholder=" ingrese nombre, distrito o zona">
              <button type="submit" class="buscador-search__btn"> <i class="fa fa-search "aria-hidden="true"></i> </button>
            </div>
          </form>
          <hr/>

          <!-- inicio de resultados -->
          <div class="grid-x grid-margin-x categories-results">
            {% for d in distritos  %}
              <div class="cell small-4 medium-3 large-3 categories-results__item">
                <a href="{% url 'zone_app:zona_by_distrito' d.slug %}" class="categories-results__item__a">
                  <div class="canchas-zona">
                    <img src="{{d.image.url}}" alt="d.name" class="categories-results__item__a__img">
                    <span class="banner__copy__info__number count-canchas">10</span>
                  </div>
                  <p class="categories-results__item__a__name">{{d.name}}</p>
                </a>
              </div>
            {% endfor %}
          </div>
          <!-- fin de resultados -->
        </div>
      <!-- fin de categorias -->

  {% include "include/footer.html" %}

{% endblock content %}
