{% load staticfiles %}

<!-- inicio de pie de pagina-->
      <div class="footer-pc">
        <div class="footer-pc__suscription">
          <p class="footer-pc__suscription__title">¿Quieres saber las ultimas novedades? SUSCRÍBETE!!</p>
          <div class="footer-pc__suscription__form">
            <input type="text" class="footer-pc__suscription__form__input" placeholder=" E-mail">
            <button type="submit" class="footer-pc__suscription__form__btn">Suscribir</button>
          </div>
        </div>
        <div class="footer-pc__contactenos">
          <p class="footer-pc__contactenos__email"> e-Mail: apelotar.peru@gmail.com</p>
          <p class="footer-pc__contactenos__telf"> WhatsApp: (+51)944147277</p>
        </div>
        </div>
        <div class="footer-pc__redes">
          <a href="https://www.facebook.com/apelotear/" target="_blank" class="footer-pc__redes__rs"> <i class="fa fa-facebook-official footer-pc__redes__rs__icon" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/u/1/communities/111517910301305780271" target="_blank" class="footer-pc__redes__rs"> <i class="fa fa-google-plus-official footer-pc__redes__rs__icon" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UCwMeO-RAxVlSBkiu75K7nFA" target="_blank" class="footer-pc__redes__rs"> <i class="fa fa-youtube footer-pc__redes__rs__icon" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/apelotear.peru/" target="_blank" class="footer-pc__redes__rs"> <i class="fa fa-instagram footer-pc__redes__rs__icon" aria-hidden="true"></i></a>
        </div>
      <!--fin de pie de pagina -->
