{% load staticfiles %}

	<header>
       <!-- inicio del header para movil -->
        <div class="mov-main-header">
          <a href="/" class="mov-main-header__logo">aPelotear <i class="fa fa-futbol-o mov-main-header__logo__icon" aria-hidden="true"></i></a>

          <a href="{% url 'cancha_app:cancha_search' %}" class="mov-main-header__search">
            <i class="fa fa-search " aria-hidden="true"></i>
          </a>
        </div>
        <div class="mov-controls">
          <a href="/" class="mov-controls__control"> <i class="fa fa-futbol-o mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-th-large mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-pencil mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__control"> <i class="fa fa-user mov-controls__control__icon" aria-hidden="true"></i> </a>
          <a href="#" class="mov-controls__nuevas-canchas"> 5 </a>
        </div>
        <div class="space-header">
        </div>
        <!-- fin del header para movil -->

        <!-- inicio del header para pc -->
        <div class="main-header">
          <div class="main-header__head">
            <a href="/" class="main-header__head__logo">aPelotear <i class="fa fa-futbol-o main-header__head__logo__icon" aria-hidden="true"> </i></a>
            <form action="buscador_submit" method="get">
              <a href="{% url 'cancha_app:cancha_search' %}" class="main-header__head__search">
                <button type="submit" class="main-header__head__search__btn"> <i class="fa fa-search "aria-hidden="true"></i> </button>
                <input type="text" class="main-header__head__search__input" placeholder="Busca tu cancha en aPelotear">
              </a>
            </form>
          </div>
          <div class="controls">
            <a href="/" class="controls__control">Inicio</a>
						<a href="#" class="controls__control">Zona</a>
            <a href="{% url 'zone_app:lista_distritos' %}" class="controls__control">Distritos</a>
						<a href="#" class="controls__control">Museo</a>
            <a href="#" class="controls__control">Entrar</a>
          </div>
        </div>

        <!-- fin del header para pc -->
      </header>
