.buscador-search{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	&__input{
		height: 40px;
		font-family: $font-title;
		background: color(blanco);
		border: 1px solid color(decimo);
        border-right-style: none;
		margin: 0px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	&__btn{
		height: 40px;
		background: color(fondo-card);
		color:color(decimo);
		border: 1px solid color(decimo);
		border-left-style: none;
		padding: 0em 1.5em 0em 1.5em;
		font-size: 1em;
		border-style-color: color(plomo);
		border-top-right-radius: 5px;
        border-bottom-right-radius:5px;
	}
}