
.categories-title{
	font-family: $text2;
	margin-top: 0.5em;
	margin-bottom: -0.5em;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	@include desde(1000px){
		margin-top: 0;
		margin-bottom: -0.3em;
		font-size: 3em;
	};
	//text-transform: uppercase;
}
.categories-search{
	@include desde(1000px){
		display: none;
	};
}