.cardcancha{
}
.card-cancha{
	position: relative;
	border: solid 1px;
	border-color: color(verde-bg);
	margin-bottom: 1em;
	background: color(border-card);
	border-radius: 10px;
	&__card{
		position: relative;
		height: 200px;
		display: flex;
		justify-content: flex-start;
		border-radius: 10px;
		&__img{
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
		&__caracteristica-ct{
			font-family: arial;
			font-size: 0.8em;
			color: color(blanco);
			position: absolute;
			display: flex;
			background: color(decimo);
			padding: 0.3em;
			margin: 0.5em 0 0 0.5em;
			border-radius: 10px;
			width: 100px;
			justify-content: center;
		}
		&__caracteristica-st{
			font-family: arial;
			font-size: 0.8em;
			color: color(blanco);
			position: absolute;
			display: flex;
			background: color(rojo);
			padding: 0.3em;
			margin: 0.5em 0 0 0.5em;
			border-radius: 10px;
			width: 100px;
			justify-content: center;
		}
	}

	&__copy{
		padding: 1em;
		&__title{
			text-overflow: ellipsis;
			overflow:hidden;
			white-space: nowrap;
			font-family: $font-subtitle;
			font-size: 1.2em;
			color: color(negro);
			height: 30px;
		}
		&__more{
			display: flex;
			justify-content: space-between;
			padding-bottom: 1em;
			&__btn{
				background: color(decimo);
				color: color(blanco);
				font-family: arial;
				font-size: 0.8em;
				margin-right: 1em;
				border-radius: 20px;
				width: 120px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		&__services{
			display: flex;
			justify-content: space-around;
			&__ser{
				width: 70px;
				height: 70px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-family: $text3;
				text-align: center;
				border-radius: 50%;
				background: color(octavo);
				&__icon{
					margin: 10px 10px 0px 10px;
					color: color(blanco);
				}
				&__name{
					font-size: 0.8em;
					margin: 0px;
					color: color(blanco);
					font-weight: bold;
				}

			}
		}

	}
}

.card-cancha__copy__info{
	display: flex;
	align-items: center;
	font-family: $font-text;
	&__icon{
		font-size: 0.8em;
		margin-bottom: 1em;
		padding: 0.4em;
		border-radius: 50%;
		color: color(blanco);
		background: color(primero);
	}
	&__name{
		font-size: 0.8em;
		margin-left: 1em;
	}
}

//estilos para detalle-cancha.html "canchas cercanas"
.dc{
	height: 250px;
}
.dc-card{
	height: 150px;
}

.card-cancha__copy__nombre{
	font-family: arial;
	color: color(negro);
	font-size: 1em;
	&:hover{
		color: color(octavo);
	}
}