.footer-pc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 0.5em;
	background: color(cafe);
	&__suscription{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.5em;
		background: color(blanco);
		border-radius: 10px;
		margin-right: 0.5em;
		margin-left: 0.5em;
		&__title{
			margin: 0;
			font-family: $text-footer;
			text-align: center;
			color: color(negro);			
		}
		&__form{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5em;
			&__input{
				margin: 0;
				height: 35px;
				font-family: $text-footer;
				border-right-style: none;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

			}
			&__btn{
				margin: 0;
				height: 35px;
				font-family: $text-footer;
				border-left-style: none;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				padding-left: 1em;
				padding-right: 1em;
				//margin-left: 0.1em;
				background: color(cafe);
				color: color(blanco);
			}
		}
	}
	&__contactenos{
		margin-top: 1em;	
		&__email{
			margin: 0;
			font-family: $text-footer;
			color: color(blanco);
		}
		&__telf{
			margin: 0;
			font-family: $text-footer;
			color: color(blanco);
		}		
	}
	&__redes{
		border-top: 1px solid #000;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em 2em;
		background: color(bg2);
		&__rs1{
			&__icon{
				padding: 0.2em;
				border-radius: 25%;
				margin: 0.2em;
				font-size: 1.5em;
				color: color(azul);
				background: color(blanco);
				&:hover{
					font-size: 1.7em;
				}
			}
		}
		&__rs2{
			&__icon{
				padding: 0.2em;
				border-radius: 25%;
				margin: 0.2em;
				font-size: 1.5em;
				color: color(rojo);
				background: color(blanco);
				&:hover{
					font-size: 1.7em;
				}
			}
		}
		&__rs3{
			&__icon{
				padding: 0.2em;
				border-radius: 25%;
				margin: 0.2em;
				font-size: 1.5em;
				color: color(rojo);
				background: color(blanco);
				&:hover{
					font-size: 1.7em;
				}
			}
		}
		&__rs4{
			&__icon{
				padding: 0.2em;
				border-radius: 25%;
				margin: 0.2em;
				font-size: 1.5em;
				color: color(rojo);
				background: color(blanco);
				&:hover{
					font-size: 1.7em;
				}
			}
		}
		&__rs5{
			&__icon{
				padding: 0.2em;
				border-radius: 25%;
				margin: 0.2em;
				font-size: 1.5em;
				color:  color(blanco);    
				background: color(rosado);
				&:hover{
					color: color(cuarto);
				}
			}
		}
	}	
}