<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% for c in structure  %}
        {{ c.name }}
        {{ c.image }}
        {{ c.addresse }}
        {{ c.phone }}
        {{ c.price_dia }}
        {{ c.price_noche }}
        {{ c.description }}
        {{ c.mapa }}
        {{ c.latitude }}
        {{ c.longitude }}
        {{ c.number_player }}
        {{ c.techo }}
        {{ c.sudaderas }}
        {{ c.parking }}
        {{ c.cafetin }}
        {{ c.sshh }}
        {{ c.web_url }}
        {{ c.points }}
        {{ c.vists }}
        {{ c.state }}
        {{ c.anulate }}
        {{ c.zone }}

    <p>-----------------------------------------------</p>
{% endfor %}


</body>
</html>