$height-banner: calc(95vh - #{$height-header}) ;
.banner {
    $color1: map-get($colors-primary, green);
    $color2: map-get($colors-grey, white);
    position: relative;
    height: $height-banner;

    &::before {
        z-index: $zindex-backgroundBanner;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .25;
        background: linear-gradient($color2, $color1);
    }

    &__img {
        position: absolute;
        display: block;
        height: $height-banner;
        width: 100%;
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        z-index: $zindex-dataBanner;
        @include from(m) {
        width: 50%;   
        }

    }

    &__title {
        font-size: 1.3em;
        text-align: center;
        font-weight: $regular;
        margin-bottom: 1em;
        @include from(m) {
            font-size: 1.8em;        
        }
    }
}