%tagCategory {
    position: absolute;
    left: $gutter;
    top: $gutter;
    display: block;
    padding: ($gutter/3) ($gutter/2);
    border-radius: 5px;
    font-size: .8em;
    color: white;
    text-transform: capitalize;
}

%tagBtnLink {

    font-size: .8em;
    font-weight: $regular;
    line-height: 2;
    margin-top: .5em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
}



.card--login {
    background-color: #fff; 
    padding: 2em 2em 1em;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
                0 0 20px rgba(0, 0, 0, 0.1) inset;
    
    &::after {
        content: "";
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        bottom: 0;
        left: 5%;
        right: 5%;
        top: 50%;
        z-index: -1;
        border-radius: 100px / 10px;
    }
}

.card-container {
    display: flex;
    justify-content: center;
}

.cards {
    &__title {
        margin-top: 1em;
        text-align: center; 
    }
}

.card {
    $pd-cardTitle: .8em 1em;
    $border-Color: 1px solid map-get($colors-grey, grey3 );
    $fs-title: .96em;

    $pd-cardBody: 1.5em $gutter 1em;
    
    $bg-card: map-get($colors-grey , white );
    $box-shadowLight: 0 1px 2px map-get($colors-grey, grey2 );
    $box-shadowRegular: 0 0 20px  map-get($colors-grey, grey3 );
    $border-radius: 5px;
    $mg-bottom: 1rem;
    
    display: flex;
    flex-direction: column;

    margin-bottom: $mg-bottom;
    margin-top: $mg-bottom*1.5;
    border-radius: $border-radius;

    box-shadow: $box-shadowLight,
                $box-shadowRegular;
    background-color: $bg-card;
    
    &__title {
        padding: $pd-cardTitle;
        border-bottom: $border-Color;
        font-size: $fs-title;
        text-transform: uppercase;
        font-weight: $regular;
    }

    &__title--upload {
         @extend .card__title;
         display: flex;
         justify-content: space-between;
    }

    &__cancel {
        color: map-get($colors-primary, red);
    }


    &__body {
        display: flex;
        flex-direction: column; 
        padding: $pd-cardBody;
        flex-grow: 1;
    }

    &__body--upload {
        padding-right: 0;
        padding-left: 0;
    }

    &__image {
        position: relative;
        &__banner {
            display: block;
            height: 180%;
            width: 100%;
        }

        &__author {
            position: absolute;
            left: $gutter;
            bottom: -16px;
            padding: 2px;
            border: 1px solid map-get($colors-grey, grey1);
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }
    }

    &__input-file {
        position: absolute;
        right: 4%;
        bottom: 7%;

        height: 2.5em;
        width: 2.5em;
        border-radius: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map-get($colors-grey, black);
        opacity: .7;


        input[type="file"] {
            height: 100%;
            width: 100%;
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 100%;
            bottom: 100%;
            opacity: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
    }

    &__category {
        @each $category, $bgcolor in $colors-category {
            &--#{$category} {
                @extend %tagCategory;
                background-color: $bgcolor;
            }
        }  
    }

    &__subtitle {
        font-size: .95em;
        font-weight: $regular;
        @include from(m) {
            font-size: .97em;                
        }
        
    }

    &__content {
        flex-grow: 1;
        
    }

    &__link {
        
        &--inscribed {
            @extend %tagBtnLink;
            $bg-color: map-get($colors-primary, green);
            background-color: $bg-color;
            &:hover {
                background-color: darken($bg-color, 5%); 
            }
        }

        &--admin {
            @extend %tagBtnLink;
            $bg-color: map-get($colors-primary, yellow);
            background-color: $bg-color;
            &:hover {
                background-color: darken($bg-color, 5%); 
            }
        }

        &--in {
            @extend %tagBtnLink;
            $bg-color: map-get($colors-primary, green2);
            background-color: $bg-color;
            &:hover {
                background-color: darken($bg-color, 5%); 
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;

        button[type="submit"] {
            text-transform: uppercase;
            margin: 1em 0;
        }
    }

}

.card--upload {
    margin-top: 0;
    width: 100%;

    @include from(m) {
        width: 40%;
    }
}

.card--team {
    $color-team: map-get($colors-grey, black);
    $bg-color: map-get($colors-primary, green);
    $transition-card: all .8s ease-in-out;
    align-items: center;
    width: 100%;

    &__image {
        padding: 2em 0 .7em;
    }

    &__logo {
        display: block;
        width: 64px;
        height: 64px;
        @include from(m) {
            width: 80px;
            height: 80px;
        }

    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        font-size: .93em;
        font-weight: $regular;
        color: $color-team;
        margin-bottom: .2em;
    }

    &__category {
        @each $category, $color in $colors-category {
            &--#{$category} {
                font-size: .82em;
                color: $color;
            }
        }
    }

    &__footer {
        margin-top: .5em;
        display: block;
        width: 100%;
        text-align: center;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: .7em 0;
        font-size: .82em;
        position: relative;
        color: $color-team;
        font-weight: $regular;

        &:hover {
            text-decoration: none;
            background-color: $bg-color;
            color: white;
            transition: $transition-card;            
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 15%;
            border-bottom: 1px solid $bg-color;

        }
        &:hover::before {
            width: 100%;
            transition:  $transition-card;
        }

    }
}

.card--player {
    $color-player: map-get($colors-grey, black);
    $bs-player: 0 1px 1px map-get($colors-grey, grey2);
    $bd-player: 1px solid map-get($colors-grey, grey3);
    $bg-color: map-get($colors-primary, green);
    $transition-card: all .8s ease-in-out;
    $box-shadowLight: 0 1px 2px map-get($colors-primary, green);
    $box-shadowRegular: 0 0 5px  map-get($colors-primary, green);
    align-items: center;
    width: 100%;

    &:hover {
        box-shadow: $box-shadowLight,
                    $box-shadowRegular;
    }

    &__image {
        padding: 1em 0 .7em;        
        @include from(m) {
        padding: 1.5em 0 .7em;
        }
    }

    &__users {
        display: block;
        border: $bd-player;
        border-radius: 50%;
        box-shadow: $bs-player;
        width: 64px;
        height: 64px;
        @include from(m) {
            width: 100px;
            height: 100px;
        }
    }

    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .8em;
    }

    &__full-name {
        font-size: 1.1em;
        font-weight: $regular;
        color: $color-player;
        margin-bottom: .2em;
    }

    &__category {
        @each $category, $color in $colors-category {
            &--#{$category} {
                font-size: .82em;
                color: $color;
            }
        }
    }

    &__footer {
        margin-top: .5em;
        display: block;
        width: 100%;
        text-align: center;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: .7em 0;
        font-size: .82em;
        position: relative;
        color: white;
        font-weight: $regular;
        background-color: $bg-color;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            border-bottom: 1px solid $bg-color;

        }

    }
}

.card--match {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $gutter 0;
    &__team{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__img{
            display: block;
            width: 90px;
            height: 90px;
            @include from(m) {
                width: 60px;
                height: 60px;
            }
        }
        &__name {
            margin-top: .5em;
            font-weight: $regular;
            color: map-get($colors-grey, black);
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 0 1em;
        font-weight: $regular;
        
    }
    &__date {
        color: map-get($colors-primary, green);        
    }
    &__result {
        color: map-get($colors-grey, black);
        font-size: 1.4em;
        margin-bottom: .1em;
    }
}