$bg-navPanel: map-get($colors-grey, grey3);
$colorPanel-link: map-get($colors-grey, grey1);
$transition-panel: all .8s;
$bg-listHover: map-get($colors-primary, green2);
$color-listHover: map-get($colors-grey, white);


%link-panel {
    display: block;
    font-weight: $light;
    letter-spacing: 1px;
    color: $colorPanel-link;
    padding: .65em 0 .65em .3em;
    transition: $transition-panel;
}

.list-holder {
    position: fixed;
    top: 0;
    left: -$offcanvasPanel-width; // modifcr despues por -$offconvasPanel-width
    width: $offcanvasPanel-width;
    height: 100vh;
    padding-top: $height-headerPanel + 15px;
    
    background-color: $bg-nav;
    
    transition: $transition-panel;

    &.show {
        left: 0;
    }
    @include from(m) {
        position: static;
        padding-top: $height-headerPanelFromM + 35px;
        background-color: transparent;
    }   
}

.main-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    &__item {
        font-size: .9em;
        cursor: pointer;
        margin-bottom: 2px;
    }

    &__link {
        @extend %link-panel;
        &:hover {
            border-radius: 2px;
            text-decoration: none;
            font-weight: $regular;
            opacity: .9;        
            background-color: $bg-listHover;
            color: $color-listHover;
            transition: $transition-panel;
        }
        &--active {
            @extend %link-panel;
            border-radius: 2px;
            font-weight: $regular;
            opacity: .9;        
            background-color: $bg-listHover;
            color: $color-listHover;
            &:hover {    
                text-decoration: none;            
            }
        }
    }
}

.card-list {
    margin: 0;
    padding: .4em 0 0;
    list-style: none;

    &__item {
        color: map-get($colors-grey, grey1);
        font-size: .8em;
        padding: ($gutter/5) 0;
    }
}

/* ****************** */
/* autocomplete  field*/
/* ****************** */

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: $zindex-complete;
    box-shadow: 0 1px 1px 1px map-get($colors-grey, grey3);
    display: none; // cambiar el display a auto
}

.autocomplete-result {
    display:  flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;

    &__user {
        margin-right: .5em;
        font-weight: $regular; 
    }

    &__avatar {
        display: block;
        width: 32px;
        height: 32px;
    }

}

.autocomplete {
    
    &__group {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
        overflow: auto;


    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.15em .5em;
        font-size: .9em;
        font-weight: $regular;
        cursor: pointer;

        &:hover {
            background-color: map-get($colors-primary, green2);
            color: #fff;
        }
    }
    &__user {
    }
    &__avatar {
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        border: 1px solid map-get($colors-grey, grey3);
    }
}

.list {
    $color-header: map-get($colors-grey , grey1);
    display: flex;
    flex-direction: column;
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: .5em;
        &--row {
            display: flex;        
            flex-direction: row;
            margin-bottom: .5em;
                    
        }
    }
    &__header {
        color: $color-header;
        font-weight: $regular;
        padding-bottom: .2em;
    }
    &__data {
        font-size: .95em;
        a {
            color: map-get($colors-primary, green2);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        flex-grow: 1;
    }
    &__avatar {
        display: block;
        width: 32px;
        height: 32px;
        border: 1px solid $color-header;
        border-radius: 50%;
    }
}
