.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 1em;
    @include from(m) {
        width: auto;
        padding: 2em auto;
        margin-bottom: 0;
    }
}

.login-container--account {
    @extend .login-container;
    @include from(m) {
        width: 38%;
    }
}

.login {
    $borderRadius: 25px;
    $size-text: .9em;
    &__title {
        font-weight: $regular;
        padding-bottom: 1em;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__field {
        position: relative;
        label {
            font-size: $size-text;
            margin-left: 9px;
        }
        input {
            border-radius: $borderRadius;
            background-color: #F1F2F7;
            padding-left: 35px;
            &:focus {
                background-color: #fff;
                border: 1px solid #F1F2F7;
            }
        }
        i {
            position: absolute;
            content: "";
            top:31px;
            left: 10px;
        }
    }
    
    &__submit {
        @include from(m) {
            flex-direction: row;
            justify-content: flex-end;
        }
         button {
            //-- El contonedor padre es flex.
            border-radius: $borderRadius;
            margin-bottom: 0.6em;
            line-height: 2.3;
            font-size: size-text;
            width: 100%;
            @include to (s) {
                margin-top: 1em;
            }
        }
    }
    &__forgot {
        margin: .3em 0 1em 0;
        font-size: .77em;
        color: map-get($colors-grey, grey1);
        &:hover {
            color: map-get($colors-primary, green);
        }
    }
    &__or {
        display: flex;
        align-items: center;
        font-size: .9em;
        width: 100%;
        &::before, &::after {
            content: "";
            height: 1px;
            background: -webkit-linear-gradient(left,  #F1F2F7 0%, #F1F2F7 20%,#C3C1C1 40%,#BBB4B4 60%,#B2ACAC 80%,#A6A5A5 100%);                               
            flex-grow: 1;
        }
        &::before {
            margin-right: .3em;
        }
        &::after {
            margin-left: .3em;
            background: -webkit-linear-gradient(right,  #F1F2F7 0%, #F1F2F7 20%,#C3C1C1 40%,#BBB4B4 60%,#B2ACAC 80%,#A6A5A5 100%);            
        }
    }
    
    &__account {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        span {
            font-size: .9em;
            padding: .5em 0 1em;
        }
        a {
            font-size: .9em;
            border-radius: $borderRadius;
            width: 100%;
            line-height: 2.3;
        }

        &__link {
            font-size: 1em !important;
            color: map-get($colors-primary , green);
        }
        &__submit {
            margin-top: 1em;
            border-radius: $borderRadius;
            text-transform: uppercase;
            font-size: .85em;
        }
    }

    &__terms {
        font-size: .85em;
        text-align: center;
        a {
            color: map-get($colors-primary, green);        
        }
    }
}