.match {

    &__team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__name {

    }
    &__avatar {
        display: block;
        width: 64px;
        height: 64px;
        
        @include from(m) {
            width: 100px;
            height: 100px;
        }

    }

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input[type="time"] {
        }
    }
    &__vs {

    }
}