$bg-nav: map-get($colors-grey, grey3);
$color-link: map-get($colors-grey, grey1);

%link-nav {
  display: block;
  position: relative;
  padding: ($gutter/2) 2px;
  
  text-transform: uppercase;
  font-size: .8rem;  
  color: $color-link;

  @include from(m) {
    font-size: 1rem;
  }

}

.main-nav {
  position: fixed;
  top: $height-header;
  right: -$offcanvas-width;
  width: $offcanvas-width;
  background-color: $bg-nav;
  transition: right .7s;
  
  @include from(l){
    position: static;
    background-color: transparent;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &.show {
    right: 0;
  }
}

.main-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100vh;

  @include from(l) {
    position: static;
    display: flex;
    height: auto;
  }
  &__item {
    @include from(l) {
      display: block;
      margin-right: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__item--action {
    position: absolute;
    bottom: 12%;
    left: 5%;
    right: 5%;
    width: 90%; // solo provando valores

    @include from(l) {
      position: static;
      display: block;
    }
  }

  &__link {
    position: relative;
    padding: .8em 1em;
    display: block;
    color: $color-link;
    text-transform: capitalize;
    font-weight: $regular;
    font-size: .95em;
    white-space: nowrap;
    @include from(l) {
      padding: .5em .2em;
    }
    &:hover {
      text-decoration: none;
      color: darken($color-link, 10);
      background-color: darken($bg-nav,4);
      @include from(l) {
        background-color: inherit;
      }
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: $color-header;
      opacity: 0;
      transition: opacity .3s;
      @include from(l) {
        top: auto;
        bottom: 0;
        height: 4px;
        width: 100%;  
      }
    }
  } // fin de link

  &--action__link {
    display: block;
    text-align: center;

    @include from(l) {
      margin: 0;
    }
  }
} // fin de main nav


// ++++++++++++++++++++++++++ //
// ++++++++++++++++++++++++++ //
// nav secundario
// ++++++++++++++++++++++++++ //
// ++++++++++++++++++++++++++ //



.secundary-nav {
  width: 100%;
  margin-bottom: 1rem*1.5;
}

.secundary-menu {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @include from(m) {
    justify-content: space-around;
  }

  &__item {
    // background-color: red;
  }

  &__link {
    @extend %link-nav;

    &:hover {
      text-decoration: none;
      font-weight: $regular;

      &::before {
        opacity: 1;
      }  
    }

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color:map-get($colors-primary, green2);
      opacity: 0;
      transition: all .8s;
    }

  }

  &__link--active {
    @extend %link-nav;
    font-weight: $regular;
    
    &:hover {
      text-decoration: none;
    }

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color:map-get($colors-primary, green2);
      transition: all .8s;
    }
  }
}