.teams {
    flex-direction: row;
    padding: 1rem 0;
    margin-top: 1em;
}

.team {
    &__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 ($gutter/2);
    }

    &__avatar {
        display: block;

        width: 32px;
        height: 32px;
        @include from(m) {
            width: 48px;
            height: 48px;
            padding-bottom: .2em;
        }

    }

    &__name {
        font-size: .8em;
    }
}