
.toggle-menu {
  $width-toggle: 20px;
  $height-toggle: 2px;
  $front-color: map-get($colors-primary, green);

  display: flex;
  flex-direction: column;
  align-items: center;
  color: $front-color;
  font-size: .75em;
  cursor: pointer;
  padding: 0 .5em;
  font-weight: $regular;
  order: 1;

  @include from(l) {
    display: none;
  }

  .bar, .bar::before, .bar::after {
    backface-visibility: hidden;
    background-color: $front-color;
    height: $height-toggle;
    width: $width-toggle;
    display: block;
  }

  .bar {
    position: relative;
    margin-top: $height-toggle * 2;
    margin-bottom: $height-toggle* 2;
  }
  .bar::before, .bar::after {
    content: '';
    position: absolute;
    transition: transform .7s;
  }

  .bar::before {
    transform: translateY(($height-toggle + 1) * -2);
  }

  .bar::after {
    transform: translateY(($height-toggle + 1) * 2)
  }

  .name-toggle {
    padding-top: $height-toggle * 2;
  }
  // animacion de toggle -menu

  &.show .bar {
    background-color: rgba($front-color, 0);

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}
