.cancha-info{
	font-family: $text-logo;
	background: color(sexto);
	text-align: center;
	color: color(blanco);
	border:solid;

	&__name{
		
	}
	&__direccion{
		
	}
	&__telefono{

	}
	&__precio{

	}
	
}