.cancha-services{
	margin: 1em;
	&__title{
		font-family: $text3;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: bold;
	}

	&__items{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		&__name{
			margin: 0;
			margin-left: em;
			font-family: $text3;
			font-size: 0.8em;
		}
	}
}

.cancha-services__icon {
	color: color(plomo);
}

.ser-active{
	color: color(onceavo);
}
