.cancha-filtro{
	background: color(fondo-card);
	padding: {
		left: 2em;
		right: 2em;
		top: 1em;
		bottom: 1em;
	};
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 10px;
	margin-bottom: 1em;
	@include desde(1000px){
		padding-left: 2.5em;
		padding-right: 2.5em;
	};
	&__title{
		font-family: arial;
		text-transform: uppercase;
		margin: 0;
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}
}
