.cancha-services{
	margin: 1em;
	&__title{
		font-family: $text3;
	}

	&__items{
		display: flex;
		justify-content: space-around;
	}

	&__item{
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__name{
			font-family: $text3;
			font-size: 0.8em;
		}
	}
}

.cancha-services__icon__primero {
	color: color(primero);
}

.cancha-services__icon__segundo {
	color: color(segundo);
}

.cancha-services__icon__tercero {
	color: color(tercero);
}

.cancha-services__icon__cuarto {
	color: color(cuarto);
}