.cancha-filtro{
	background: color(verde-bg);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	&__title{
		font-family: arial;
		text-transform: uppercase;
		margin: 0;
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}
}
