.cancha-description{
	margin: 1em;
	&__title{
		font-family: $text3;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: bold;
	}
	&__text{
		font-family: $font-title;
		font-size: 0.8em;
		color: color(octavo);
		@include desde(1000px){
			font-size: 1em;
		};
	}
}