.cancha-info{
	position: relative;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	@include desde(1000px){
		height: 350px;
	};
	&__img{
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		width: 100%;
		height: 100%;
	}

	&__copy{
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color:rgba(0,0,0,0.5);
		color: color(blanco);


		&__name{
			font-size: 1.5em;
			margin: 0;
			@include desde(1000px){
				font-size: 2em;
			};
		}
		&__cantidad{
			display: flex;
			justify-content: center;
			align-items: center;
			color: color(blanco);
			font-weight: bold;
			background: color(decimo);
			height: 20px;
			padding-left: 0.5em;
			padding-right: 0.5em;
			margin-top: 0.3em;
			margin-bottom: 0.3em;
			border-radius: 10px;
			@include desde(1000px){
				height: 30px;
				font-size: 2em;
				background: color(onceavo);
			};
			&__1{
				margin: 0px;
				margin-right: 0.1em;
			}
			&__vs{
				height: 30px;
				width: 30px;
				font-family: $text3;
				text-transform: uppercase;
				margin: 0px;
				border-radius: 50%;
				text-align: center;
				padding-top: 0.25em;
				background: color(blanco);
				color: color(decimo);
				margin-left: 0.2em;
				margin-right: 0.2em;
				@include desde(1000px){
					padding-top: 0em;
					height: 50px;
					width: 50px;
				};
			}
			&__2{
				margin: 0px;
				margin-left: 0.1em;
			}
		}
		&__direccion{
			font-size: 1em;
			margin: 0;
			@include desde(1000px){
				font-size: 1.3em;
			};
		}
		&__telefono{
			font-size: 0.8em;
			margin: 0;
			@include desde(1000px){
				font-size: 1em;
			};
		}
	}
	
	
}

