{% extends "cancha/base_cancha.html" %}

{% block title %}{{object.name}}|{{object.addresse}}{% endblock %}

{% block content %}

{% load  staticfiles %}

  {% include 'include/header.html' %}

  <main class="main">

    <div class="ed-container">
        <div class="ed-item main-center">
            <h1 class="title_detail">Campo Deportivo: {{object.name}}</h1>
        </div>
    </div>

    <div class="ed-container cards">
      <div class="ed-item ed-container">
        <div class="ed-item ed-container card teams">
          <div class="ed-item s-100 m-50 team__img">
            {% if object.techo == True %}
              <h4><b>{{object.name}} - Cancha con Techo</b></h4>
            {% else %}
              <h4><b>{{object.name}} - Cancha sin Techo</b></h4>
            {% endif %}

            <h5>Precios:</h5>
            {% for p in object.price.all  %}
              <span>{{p.description}}: {{p.value}} Soles. </span>
            {% endfor %}
            <h5>Telefonos:</h5>
            {% for p in object.phone.all  %}
              <span>{{p.description}}: {{p.number}}</span>
            {% endfor %}
            <h5>Direccion de Referencia:</h5>
            <span>
              {{object.reference}}
            </span>
            <h5>Zona:</h5>
            <p>
              <a href="#">{{object.addresse}}</a>
            </p>
            <h5>Distrito:</h5>
            <p>
              {% for t in object.tag.all  %}
                <span><a href="#">{{t.name}}</a>;</span>
              {% endfor %}
            </p>
          </div>
          <div class="ed-item s-100 m-50 team__img">
            <iframe src="{{object.maps}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
