{% extends "cancha/base_cancha.html" %}

{% block title %}Deporstart|deporte en cusco|futbol cusco|voley cusco|basquet cusco{% endblock %}

{% block content %}

{% load  staticfiles %}

  {% include 'include/header.html' %}

  <main class="main">

    <div class="ed-container">
        <div class="ed-item s-100">
            <div class="card card--search" method="get">{% csrf_token %}
                <form action="" class="form--search--card">
                    {{form.kword}}
                    <button class="btn btn--green btn--search"><i class="fa fa-lg fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="ed-container cards">
      <div class="ed-item s-100">
        <h2 class="cards__title">Busqueda de campos deportivos</h2>
            <nav class="ed-item s-100 secundary-nav">
                <ul class="secundary-menu">
                    <li class="secundary-menu__item">
                        {% if option == 'todos' %}
                          <a href="{% url 'cancha_app:filtro' 'todos' %}" class="secundary-menu__link--active">Todos</a>
                        {% else %}
                          <a href="{% url 'cancha_app:filtro' 'todos' %}" class="secundary-menu__link">Todos</a>
                        {% endif %}
                    </li>

                    <li class="secundary-menu__item">
                      {% if option == 'contecho' %}
                        <a href="{% url 'cancha_app:filtro' 'contecho' %}" class="secundary-menu__link--active">Techo</a>
                      {% else %}
                        <a href="{% url 'cancha_app:filtro' 'contecho' %}" class="secundary-menu__link">Techo</a>
                      {% endif %}
                    </li>

                    <li class="secundary-menu__item">
                      {% if option == 'sintecho' %}
                        <a href="{% url 'cancha_app:filtro' 'sintecho' %}" class="secundary-menu__link--active">Sin techo</a>
                      {% else %}
                        <a href="{% url 'cancha_app:filtro' 'sintecho' %}" class="secundary-menu__link">Sin techo</a>
                      {% endif %}
                    </li>
                </ul>
            </nav>
      </div>

      {% for c in campos  %}
      <div class="ed-item s-100 m-50 l-25 card-container">
        <div class="card">
          <div class="card__image">
              {% if c.techo == True %}
                <span class="card__category--ajedrez">Con Techo</span>
              {% else %}
                <span class="card__category--pokemon">Sin Techo</span>
              {% endif %}
              <img src="{{c.image.url}}" alt="{{c.name}}" class="card__image__banner">
          </div>
          <div class="card__body">
              <h3 class="card__subtitle">{{c.name}}</h3>
              <div class="card__content">
                  <ul class="card-list">
                      <li class="card-list__item"><i class="fa fa-certificate" aria-hidden="true"></i>
                        {% for p in c.price.all|slice:":2"  %}
                          {{p.description}}:{{p.value}}.
                        {% endfor %}

                      </li>
                      <li class="card-list__item"><i class="fa fa-moon-o" aria-hidden="true"></i>
                        {% for p in c.phone.all|slice:":2"  %}
                          {{p.description}}:{{p.number}}.
                        {% endfor %}
                      </li>
                      <li class="card-list__item"><i class="fa fa-globe" aria-hidden="true"></i><strong> {{c.addresse}}</strong></li>
                      <br>
                      <li class="card-list__item"><strong>Referencia:</strong></li>
                      <li class="card-list__item"> {{ c.reference|truncatechars_html:60 }}</li>
                  </ul>
              </div>
              <a href="{% url 'cancha_app:detail' c.slug %}" class="card__link--in bg--green">más informacion</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="ed-item s-100 m-25 card-container">
        <div class="card">
          <div class="card__image">
              <span class="card__category--voley">Nuevo</span>
              <img src="{% static 'img/d.jpg' %}" alt="#" class="card__image__banner">
          </div>
          <div class="card__body">
              <h3 class="card__subtitle">No hay mas canchas registradas en esa zona</h3>
              <div class="card__content">
                  <ul class="card-list">
                    <li class="card-list__item"><strong>Recomendacion:</strong></li>
                    <li class="card-list__item">
                      Aprovecha la ocacion para registrar tu campo deportivo, los pasos son sencillos :)
                    </li>
                  </ul>
              </div>
              <a href="{% url 'home_app:home_register' %}" class="card__link--in bg--admin">Registrar mi cancha</a>
          </div>
        </div>
      </div>

    </div>
    {% include "include/pagination.html" %}
  </main>

  {% include "include/footer.html" %}
{% endblock %}
